.cd-popup,.cd-popup2{
	position:fixed;
	left:0;
	top:0;
	height:100%;
	width:100%;
	background-color:rgba(0,0,0,0.5);
	opacity:0;
	visibility:hidden;
	-webkit-transition:opacity .3s 0s,visibility 0s .3s;
	-moz-transition:opacity .3s 0s,visibility 0s .3s;
	transition:opacity .3s 0s,visibility 0s .3s
}
.cd-popup.is-visible,.cd-popup2.is-visible{
	opacity:1;
	visibility:visible;
	-webkit-transition:opacity .3s 0s,visibility 0s 0s;
	-moz-transition:opacity .3s 0s,visibility 0s 0s;
	transition:opacity .3s 0s,visibility 0s 0s
}
/*弹窗中的表单*/
.elegant-aero {
	margin: 0px auto;
	max-width: 700px;
	background: #FBF1E5;
	padding: 20px 20px 20px 20px;
	font: 12px Arial, Helvetica, sans-serif;
	color: #666;
}

.elegant-aero h1 {
	font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
	padding: 10px 10px 10px 20px;
	display: block;
	background: #F6B543;
	border-bottom: 1px solid #B8DDFF;
	margin: -20px -20px 15px;
}

.elegant-aero h1>span {
	display: block;
	font-size: 11px;
}

.elegant-aero label>span {
	float: left;
	margin-top: 10px;
	color: #5E5E5E;
}

.elegant-aero label {
	margin: 0px 0px 5px;
}

.elegant-aero label>span {
	float: left;
	width: 20%;
	text-align: right;
	padding-right: 15px;
	margin-top: 10px;
	font-weight: bold;
}

.elegant-aero input[type="number"], .elegant-aero input[type="text"], .elegant-aero input[type="password"],
	.elegant-aero textarea, .elegant-aero select {
	color: #888;
	width: 70%;
	padding: 0px 0px 0px 5px;
	border: 1px solid #C5E2FF;
	background: #FBFBFB;
	outline: 0;
	-webkit-box-shadow: inset 0px 1px 6px #ECF3F5;
	box-shadow: inset 0px 1px 6px #ECF3F5;
	font: 200 12px/25px Arial, Helvetica, sans-serif;
	height: 30px;
	line-height: 15px;
	margin: 2px 6px 16px 0px;
}

.elegant-aero textarea {
	height: 60px;
	padding: 5px 0px 0px 5px;
	width: 70%;
}

.elegant-aero select {
	background: #fbfbfb url('down-arrow.png') no-repeat right;
	background: #fbfbfb url('down-arrow.png') no-repeat right;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	width: 70%;
}

.elegant-aero .popup_button {
	font-size:16px;
	padding:5px;
	margin: 0px 0px 0px 40px;
	background: #EE8704;
	border: none;
	color: #FFF;
	box-shadow: 1px 1px 1px #4C6E91;
	-webkit-box-shadow: 1px 1px 1px #4C6E91;
	-moz-box-shadow: 1px 1px 1px #4C6E91;
	text-shadow: 1px 1px 1px #5079A3;
}

.elegant-aero .popup_button:hover {
	background: #FF9802;
}