
body{
	margin: 0px; 
 	padding: 0px;
}
.body {
	font-family: "Î¢ÈíÑÅºÚ", Arial, Tahoma,; 
 	font-size: 12px; 
 	color: #333333; 
 	margin: 0px auto; 
 	padding: 0px; 
 	background: url("../images/log_background.png") no-repeat center top ; 
 	background-size:100% 100%; 
 	height: 100%; 
}
input { 
 	border: 0; 
} 
.menu{
	
}
.menu ul{
	margin: 0px;
	padding: 0px;
}
.menu ul li{
	background:url("../images/orderImg/menu_background.png");
	list-style: none;
	text-align: center;
	border-bottom: 1px solid white;
	border-right: 1px solid white;
	line-height: 39px;
}
.menu ul li a{
	text-decoration:none;
	color:black;
}

/*µÇÂ¼Ò³Ãæ*/
.login { 
	margin: 0px auto; 
	padding: 0px; 
}  
.c_d{
	position:relative;
	padding:5%;
	text-align: center;
	 height: 400px; 
	 width: 1000px; 
	 margin: auto;
}
.c_d h1{
}
.c_d h2{
	font-family: ºÚÌå,STHeiti;
	font-size: 50px;
	font-weight:normal;
	line-height:180px;
	color:white;
	margin: auto;
}
.c_d h2 img{
	vertical-align: middle;
}
.c_d .log_input{
	height: 50px;
	width: 1000px;
}
.c_d .log_input .log_name{
	display:table;
	background: url(../images/log_input.png) no-repeat left;
	float:left;
	padding: 0px 10px 0px 10px;
    line-height:40px;   
    border-radius: 5px;
    margin: 0px 0px 0px 90px;
}
.c_d .log_input .log_name input{
	background: url(../images/username.png) no-repeat left;
	padding: 0px 0px 0px 36px;
	margin:0px 0px 0px 0px;
	width: 250px;
	height:42px;
	line-height:40px;   
	font-size: 20px;
}
.c_d .log_input .log_pwd{
	display:table;
	background: url(../images/log_input.png) no-repeat left;
	float:left;
	padding: 0px 10px 0px 10px;
    line-height:40px;   
    border-radius: 5px;
    margin: 0px 40px 0px 30px;
}
.c_d .log_input .log_pwd input{
	background: url(../images/password.png) no-repeat left;
	padding: 0px 0px 0px 36px;
	margin:0px 0px 0px 0px;
	width: 250px;
	height:42px;
	line-height:40px;   
	font-size: 20px;
}

.c_d .btn{
	background: url(../images/log_btn.png) no-repeat left;
	font-family: ºÚÌå,STHeiti;
	font-size: 30px;
	color: white;
	line-height: 42px;
	padding: 6px 25px 6px 25px;
	margin:0px 90px 0px 0px;
	cursor:pointer;
}
















