@CHARSET "UTF-8";
body {
    margin: 0px auto;
    padding:0px;
    font-family: 'trebuchet MS', 'Lucida sans', Arial;
    color: #444;
    font-size: 12px;
    /*参数分别是 阴影类型 水平位移 垂直位移 模糊半径 颜色*/
     -moz-box-shadow:inset 2px 1px 4px #A0A0A0;
    -webkit-box-shadow: inset 2px 1px 4px #A0A0A0;
    box-shadow: inset 2px 1px 4px #A0A0A0;
    
}

table {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
}

.bordered {
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc; 
    -moz-box-shadow: 0 1px 1px #ccc; 
    box-shadow: 0 1px 1px #ccc;         
    margin: 0px 0px 0px 15px;
}
.bordered tr{
	background-color: white;
}
.bordered tr:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}    
    
.bordered td, .bordered th {
	font-size:13px;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 8px;
    text-align: center;    
}


.bordered th {
    background-color: #FAB957;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
   /* text-shadow: 0 1px 0 rgba(255,255,255,.5); */
    border-top: none;
}

.bordered td:first-child, .bordered th:first-child {
    border-left: none;
}

.bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.bordered th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}
.bordered td a{
	text-decoration:none;
	color: blue;
	cursor:pointer;
}
.bordered td{
	/*background-color: white;*/
}
.button {
	background: url("../images/orderImg/order_btn.png");
	width: 86px;
	height: 28px;
	border: 0;
	font-size: 16px;
	color:white;
	cursor:pointer;
	margin: 0px 0px 0px 10px;
}
.button:hover {
	
}
.button:active {
}
.navigation{
	height:30px;
	padding: 0px 0px 5px 30px;
	color: #848484;
	border-bottom: 1px #848484 dashed;
}
.navigation div{
	float:left; display:inline;
	line-height: 30px;
}
.navigation .date{
	margin: 3px 5px 0px 5px;
}
.nowposition {
	background: url("../images/orderImg/nowposition.png") no-repeat;
	background-size:1400px 40px;
	font-size: 14px;
	line-height: 40px;
	padding: 0px 0px 0px 30px;
}
.scant_a{
	color: blue;
	cursor:pointer;
}
.fenye{
	background-color:#EE8704;
	color: white;
	padding: 0px 3px 0px 3px;
}  








