/*…Ã∆∑*/
.jian {
	width: 22px;
	height: 24px;
	line-height: 24px;
	padding: 0 2%;
	margin: 0;
	float: left;
	font-size: 1em;
	border-radius: 5px 0 0 5px;
	border: solid 1px #ccc;
	background-color: #f2f2f2;
	color: #666;
	text-align: center
}
.jia {
	border-radius: 0 5px 5px 0;
	width: 22px;
	height: 24px;
	line-height: 24px;
	padding: 0 2%;
	margin: 0;
	float: left;
	font-size: 1em;
	border-radius: 5px 0 0 5px;
	border: solid 1px #ccc;
	background-color: #f2f2f2;
	color: #666;
	text-align: center
}
.shuliang {
	float: left;
	width: 30px;
	height: 22px;
	float: left;
	margin: 0;
	border: none;
	border-top: 1px #ccc solid;
	border-bottom: solid 1px #ccc;
	text-align: center;
	padding: 1px 0
}
.stock-num {
	margin: 2% 0;
	float: left;
	width: 65%
}
.block .regular-radio:checked + label {
	border: none;
	font-size: 1.4em
}
.block span {
	display: block
}
.block .regular-radio + label {
	border: none;
	box-shadow: none;
	background: url(../images/price-rd-dis.png) no-repeat;
	top: 60%;
	left: 0;
	margin: 0;
	background-position: 2% 50%;
	background-size: 10%;
	font-size: 1.4em
}
.payment .regular-radio:checked + label:after {
	content: '\2713';
	background: none;
}
.payment .regular-radio:checked + label {
	color: #eb3c07
}
.regular-radio:checked + label:after {
	content: '';
	background: url(../images/price-rd.png) no-repeat;
	top: 60%;
	left: 2%;
	background-size: 75%
}
.regular-radio + label:active, .regular-radio:checked + label:active {
	box-shadow: none;
}
.chk_1 {
	display: none
}
.chk_1 + label {
	background-color: #FFF;
	padding: 8px;
	margin: 3% 0 0 20%;
	display: inline-block;
	position: relative;
	margin-right: 30px;
	background: url(../images/scbg.png) no-repeat;
	background-size: 100%
}
.chk_1:checked + label {
	background: url(../images/scbg-active.png) no-repeat;
	background-size: 100%
}
.chk_1:checked + label:after {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	text-align: center;
	font-size: 1.4em;
	padding: 1px 0 0 0;
	vertical-align: text-top;
}
.fenlei-tit {
	width: 100%;
	padding: 2% 0;
	background-color: #fff;
	color: #666;
	text-align: center
}
.menu-tags .wrapper {
	height: 100%
}
.wrapper .fenlei-left {
	width: 35%;
	height: 100%;
	float: left;
	background-color: #fff
}
.wrapper .fenlei-left li a {
	float: left;
	display: block;
	padding: 10% 0;
	color: #666;
	background: url(images/abg.png) right no-repeat;
	background-size: 5%;
	background-position: 95% center;
}
.wrapper .fenlei-left li.active a {
	background: url(../images/jbg.png) right no-repeat;
	background-size: 5%;
	background-position: 95% center;
}
.wrapper .fenlei-right {
	width: 65%;
	float: left
}
.wrapper .fenlei-right a {
	float: left;
	width: 39%;
	padding: 6% 0;
	margin: 4% 0 4% 8%;
	background-color: #fff;
	text-align: center;
	border-radius: 5px
}
.home-city-drop .fenlei-left li {
	margin-left: 4%;
	padding: 0
}
.home-city-drop .fenlei-left .active a {
	color: #2c77e6
}