<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.server.dao.mapper.CityMapper" >
  <resultMap id="BaseResultMap" type="com.server.pojo.City" >
    <id column="CITYID" property="cityid" jdbcType="VARCHAR" />
    <result column="CITYCODE" property="citycode" jdbcType="VARCHAR" />
    <result column="CITYNAME" property="cityname" jdbcType="VARCHAR" />
    <result column="CITYPARENT" property="cityparent" jdbcType="VARCHAR" />
    <result column="CITYDETAIL" property="citydetail" jdbcType="VARCHAR" />
    <result column="CITYSTATUE" property="citystatue" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    CITYID, CITYCODE, CITYNAME, CITYPARENT, CITYDETAIL, CITYSTATUE
  </sql>
  <!-- 查询所有的地区 -->
  <select id="selectAllCity" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List"></include>
    from CITY
  </select>
  <!-- 根据主键查询 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List"></include>
    from CITY
    where CITYID = #{cityid,jdbcType=VARCHAR}
  </select>
  <!-- 根据主键删除 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from CITY
    where CITYID = #{cityid,jdbcType=VARCHAR}
  </delete>
  <!-- 选择性添加 -->
  <insert id="insertSelective" parameterType="com.server.pojo.City" >
    insert into CITY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cityid != null" >
        CITYID,
      </if>
      <if test="citycode != null" >
        CITYCODE,
      </if>
      <if test="cityname != null" >
        CITYNAME,
      </if>
      <if test="cityparent != null" >
        CITYPARENT,
      </if>
      <if test="citydetail != null" >
        CITYDETAIL,
      </if>
      <if test="citystatue != null" >
        CITYSTATUE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cityid != null" >
        #{cityid,jdbcType=VARCHAR},
      </if>
      <if test="citycode != null" >
        #{citycode,jdbcType=VARCHAR},
      </if>
      <if test="cityname != null" >
        #{cityname,jdbcType=VARCHAR},
      </if>
      <if test="cityparent != null" >
        #{cityparent,jdbcType=VARCHAR},
      </if>
      <if test="citydetail != null" >
        #{citydetail,jdbcType=VARCHAR},
      </if>
      <if test="citystatue != null" >
        #{citystatue,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <!-- 根据主键选择性修改 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.server.pojo.City" >
    update CITY
    <set >
      <if test="citycode != null" >
        CITYCODE = #{citycode,jdbcType=VARCHAR},
      </if>
      <if test="cityname != null" >
        CITYNAME = #{cityname,jdbcType=VARCHAR},
      </if>
      <if test="cityparent != null" >
        CITYPARENT = #{cityparent,jdbcType=VARCHAR},
      </if>
      <if test="citydetail != null" >
        CITYDETAIL = #{citydetail,jdbcType=VARCHAR},
      </if>
      <if test="citystatue != null" >
        CITYSTATUE = #{citystatue,jdbcType=VARCHAR},
      </if>
    </set>
    where CITYID = #{cityid,jdbcType=VARCHAR}
  </update>
</mapper>