<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.server.dao.mapper.CollectMapper" >
  <resultMap id="BaseResultMap" type="com.server.pojo.Collect" >
    <id column="COLLECTID" property="collectid" jdbcType="VARCHAR" />
    <result column="COLLECTGOODS" property="collectgoods" jdbcType="VARCHAR" />
    <result column="COLLECTCUSTOMER" property="collectcustomer" jdbcType="VARCHAR" />
    <result column="COLLECTDETAIL" property="collectdetail" jdbcType="VARCHAR" />
    <result column="CREATETIME" property="createtime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    COLLECTID, COLLECTGOODS, COLLECTCUSTOMER, COLLECTDETAIL, CREATETIME
  </sql>
  <!-- 根据主键查询 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from COLLECT
    where COLLECTID = #{collectid,jdbcType=VARCHAR}
  </select>
  <!-- 根据主键删除 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from COLLECT
    where COLLECTID = #{collectid,jdbcType=VARCHAR}
  </delete>
  <!-- 选择性添加 -->
  <insert id="insertSelective" parameterType="com.server.pojo.Collect" >
    insert into COLLECT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="collectid != null" >
        COLLECTID,
      </if>
      <if test="collectgoods != null" >
        COLLECTGOODS,
      </if>
      <if test="collectcustomer != null" >
        COLLECTCUSTOMER,
      </if>
      <if test="collectdetail != null" >
        COLLECTDETAIL,
      </if>
      <if test="createtime != null" >
        CREATETIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="collectid != null" >
        #{collectid,jdbcType=VARCHAR},
      </if>
      <if test="collectgoods != null" >
        #{collectgoods,jdbcType=VARCHAR},
      </if>
      <if test="collectcustomer != null" >
        #{collectcustomer,jdbcType=VARCHAR},
      </if>
      <if test="collectdetail != null" >
        #{collectdetail,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <!-- 根据主键选择性修改 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.server.pojo.Collect" >
    update COLLECT
    <set >
      <if test="collectgoods != null" >
        COLLECTGOODS = #{collectgoods,jdbcType=VARCHAR},
      </if>
      <if test="collectcustomer != null" >
        COLLECTCUSTOMER = #{collectcustomer,jdbcType=VARCHAR},
      </if>
      <if test="collectdetail != null" >
        COLLECTDETAIL = #{collectdetail,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        CREATETIME = #{createtime,jdbcType=VARCHAR},
      </if>
    </set>
    where COLLECTID = #{collectid,jdbcType=VARCHAR}
  </update>
</mapper>