<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.server.dao.mapper.EmpMapper" >
  <resultMap id="BaseResultMap" type="com.server.pojo.entity.Emp" >
    <id column="EMPID" property="empid" jdbcType="VARCHAR" />
    <result column="EMPCOMPANY" property="empcompany" jdbcType="VARCHAR" />
    <result column="EMPCODE" property="empcode" jdbcType="VARCHAR" />
    <result column="LOGINNAME" property="loginname" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="EMPDETAIL" property="empdetail" jdbcType="VARCHAR" />
    <result column="EMPSTATUE" property="empstatue" jdbcType="VARCHAR" />
    <result column="CREATETIME" property="createtime" jdbcType="VARCHAR" />
    <result column="UPDTIME" property="updtime" jdbcType="VARCHAR" />
  </resultMap>
  <!-- 业务员登录 -->
  <select id="selectEmpLogin" resultMap="BaseResultMap">
  	select * from EMP where loginname=#{loginname } and password=#{password }
  </select>
  <!-- 查询全部业务员 -->
  <select id="selectAllEmp" resultMap="BaseResultMap">
  	select * from EMP where empcompany=#{companyid }
  		<if test="condition != null and condition != ''">
  			and(
  				empcode like '%${condition }%' or
  				empdetail like '%${condition }%' or
  				empstatue like '%${condition }%' or
  				createtime like '%${condition }%' or
  				updtime like '%${condition }%'
  			)
  		</if>
  	order by empid desc 
  </select>
  
  <select id="selectEmpByCompany" parameterType="string" resultMap="BaseResultMap">
  	select * from GULI.EMP where EMPCOMPANY = #{companyid}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    *
    from GULI.EMP
    where EMPID = #{empid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from GULI.EMP
    where EMPID = #{empid,jdbcType=VARCHAR}
  </delete>
  <insert id="insertSelective" parameterType="com.server.pojo.entity.Emp" >
    insert into GULI.EMP
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="empid != null" >
        EMPID,
      </if>
      <if test="empcompany != null" >
        EMPCOMPANY,
      </if>
      <if test="empcode != null" >
        EMPCODE,
      </if>
      <if test="loginname != null" >
        LOGINNAME,
      </if>
      <if test="password != null" >
        PASSWORD,
      </if>
      <if test="empdetail != null" >
        EMPDETAIL,
      </if>
      <if test="empstatue != null" >
        EMPSTATUE,
      </if>
      <if test="createtime != null" >
        CREATETIME,
      </if>
      <if test="updtime != null" >
        UPDTIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="empid != null" >
        #{empid,jdbcType=VARCHAR},
      </if>
      <if test="empcompany != null" >
        #{empcompany,jdbcType=VARCHAR},
      </if>
      <if test="empcode != null" >
        #{empcode,jdbcType=VARCHAR},
      </if>
      <if test="loginname != null" >
        #{loginname,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="empdetail != null" >
        #{empdetail,jdbcType=VARCHAR},
      </if>
      <if test="empstatue != null" >
        #{empstatue,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="updtime != null" >
        #{updtime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.server.pojo.entity.Emp" >
    update GULI.EMP
    <set >
      <if test="empcompany != null" >
        EMPCOMPANY = #{empcompany,jdbcType=VARCHAR},
      </if>
      <if test="empcode != null" >
        EMPCODE = #{empcode,jdbcType=VARCHAR},
      </if>
      <if test="loginname != null" >
        LOGINNAME = #{loginname,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="empdetail != null" >
        EMPDETAIL = #{empdetail,jdbcType=VARCHAR},
      </if>
      <if test="empstatue != null" >
        EMPSTATUE = #{empstatue,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        CREATETIME = #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="updtime != null" >
        UPDTIME = #{updtime,jdbcType=VARCHAR},
      </if>
    </set>
    where EMPID = #{empid,jdbcType=VARCHAR}
  </update>
</mapper>