<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.server.dao.mapper.GoodsclassMapper" >
  <resultMap id="BaseResultMap" type="com.server.pojo.entity.Goodsclass" >
    <id column="GOODSCLASSID" property="goodsclassid" jdbcType="VARCHAR" />
    <result column="GOODSCLASSCODE" property="goodsclasscode" jdbcType="VARCHAR" />
    <result column="GOODSCLASSNAME" property="goodsclassname" jdbcType="VARCHAR" />
    <result column="GOODSCLASSPARENT" property="goodsclassparent" jdbcType="VARCHAR" />
    <result column="GOODSCLASSDETAIL" property="goodsclassdetail" jdbcType="VARCHAR" />
    <result column="GOODSCLASSSTATUE" property="goodsclassstatue" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    GOODSCLASSID, GOODSCLASSCODE, GOODSCLASSNAME, GOODSCLASSPARENT, GOODSCLASSDETAIL, 
    GOODSCLASSSTATUE
  </sql>
  <!-- 得到全部商品小类(id和name) -->
  <select id="selectAllGoodsclass" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    GOODSCLASSID,GOODSCLASSNAME
    from GOODSCLASS
    where GOODSCLASSPARENT != 'root'
    and goodsclassstatue != '禁用'
    and GOODSCLASSPARENT != 'G14630381061319233'
    and GOODSCLASSPARENT != 'G14630381061319232'
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from GOODSCLASS
    where GOODSCLASSID = #{goodsclassid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from GOODSCLASS
    where GOODSCLASSID = #{goodsclassid,jdbcType=VARCHAR}
  </delete>
  <insert id="insertSelective" parameterType="com.server.pojo.entity.Goodsclass" >
    insert into GOODSCLASS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="goodsclassid != null" >
        GOODSCLASSID,
      </if>
      <if test="goodsclasscode != null" >
        GOODSCLASSCODE,
      </if>
      <if test="goodsclassname != null" >
        GOODSCLASSNAME,
      </if>
      <if test="goodsclassparent != null" >
        GOODSCLASSPARENT,
      </if>
      <if test="goodsclassdetail != null" >
        GOODSCLASSDETAIL,
      </if>
      <if test="goodsclassstatue != null" >
        GOODSCLASSSTATUE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="goodsclassid != null" >
        #{goodsclassid,jdbcType=VARCHAR},
      </if>
      <if test="goodsclasscode != null" >
        #{goodsclasscode,jdbcType=VARCHAR},
      </if>
      <if test="goodsclassname != null" >
        #{goodsclassname,jdbcType=VARCHAR},
      </if>
      <if test="goodsclassparent != null" >
        #{goodsclassparent,jdbcType=VARCHAR},
      </if>
      <if test="goodsclassdetail != null" >
        #{goodsclassdetail,jdbcType=VARCHAR},
      </if>
      <if test="goodsclassstatue != null" >
        #{goodsclassstatue,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.server.pojo.entity.Goodsclass" >
    update GOODSCLASS
    <set >
      <if test="goodsclasscode != null" >
        GOODSCLASSCODE = #{goodsclasscode,jdbcType=VARCHAR},
      </if>
      <if test="goodsclassname != null" >
        GOODSCLASSNAME = #{goodsclassname,jdbcType=VARCHAR},
      </if>
      <if test="goodsclassparent != null" >
        GOODSCLASSPARENT = #{goodsclassparent,jdbcType=VARCHAR},
      </if>
      <if test="goodsclassdetail != null" >
        GOODSCLASSDETAIL = #{goodsclassdetail,jdbcType=VARCHAR},
      </if>
      <if test="goodsclassstatue != null" >
        GOODSCLASSSTATUE = #{goodsclassstatue,jdbcType=VARCHAR},
      </if>
    </set>
    where GOODSCLASSID = #{goodsclassid,jdbcType=VARCHAR}
  </update>
</mapper>