<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.server.dao.mapper.GoodsMapper" >
  <resultMap id="BaseResultMap" type="com.server.pojo.entity.Goods" >
    <id column="GOODSID" property="goodsid" jdbcType="VARCHAR" />
    <result column="GOODSCOMPANY" property="goodscompany" jdbcType="VARCHAR" />
    <result column="GOODSCODE" property="goodscode" jdbcType="VARCHAR" />
    <result column="GOODSNAME" property="goodsname" jdbcType="VARCHAR" />
    <result column="GOODSDETAIL" property="goodsdetail" jdbcType="VARCHAR" />
    <result column="GOODSUNITS" property="goodsunits" jdbcType="VARCHAR" />
    <result column="GOODSCLASS" property="goodsclass" jdbcType="VARCHAR" />
    <result column="GOODSIMAGE" property="goodsimage" jdbcType="VARCHAR" />
    <result column="GOODSSTATUE" property="goodsstatue" jdbcType="VARCHAR" />
    <result column="CREATETIME" property="createtime" jdbcType="VARCHAR" />
    <result column="UPDTIME" property="updtime" jdbcType="VARCHAR" />
    <result column="CREATOR" property="creator" jdbcType="VARCHAR" />
    <result column="UPDOR" property="updor" jdbcType="VARCHAR" />
    <result column="GOODSBRAND" property="goodsbrand" jdbcType="VARCHAR" />
    <result column="GOODSTYPE" property="goodstype" jdbcType="VARCHAR" />
    <result column="GOODSORDER" property="goodsorder" jdbcType="DECIMAL" />
    <!-- 商品类别 -->
    <association property="gClass" javaType="com.server.pojo.entity.Goodsclass">
    	<id column="GOODSCLASS" property="goodsclassid" jdbcType="VARCHAR" />
	    <result column="GOODSCLASSCODE" property="goodsclasscode" jdbcType="VARCHAR" />
	    <result column="GOODSCLASSNAME" property="goodsclassname" jdbcType="VARCHAR" />
	    <result column="GOODSCLASSPARENT" property="goodsclassparent" jdbcType="VARCHAR" />
	    <result column="GOODSCLASSDETAIL" property="goodsclassdetail" jdbcType="VARCHAR" />
	    <result column="GOODSCLASSSTATUE" property="goodsclassstatue" jdbcType="VARCHAR" />
    </association>
    <!-- 供应商 -->
    <association property="goodsCompany" javaType="com.server.pojo.entity.Company">
    	<id column="COMPANYID" property="companyid" jdbcType="VARCHAR" />
	    <result column="COMPANYCODE" property="companycode" jdbcType="VARCHAR" />
	    <result column="USERNAME" property="username" jdbcType="VARCHAR" />
	    <result column="COMPANYPHONE" property="companyphone" jdbcType="VARCHAR" />
	    <result column="COMPANYSHOP" property="companyshop" jdbcType="VARCHAR" />
	    <result column="COMPANYCITY" property="companycity" jdbcType="VARCHAR" />
	    <result column="COMPANYADDRESS" property="companyaddress" jdbcType="VARCHAR" />
	    <result column="COMPANYDETAIL" property="companydetail" jdbcType="VARCHAR" />
	    <result column="COMPANYSTATUE" property="companystatue" jdbcType="VARCHAR" />
	    <result column="LOGINNAME" property="loginname" jdbcType="VARCHAR" />
	    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
	    <result column="CREATETIME" property="createtime" jdbcType="VARCHAR" />
	    <result column="UPDTIME" property="updtime" jdbcType="VARCHAR" />
    </association>
    <!-- 商品价格 -->
    <collection property="pricesList" ofType="com.server.pojo.entity.Prices">
    	<id column="PRICESID" property="pricesid" jdbcType="VARCHAR" />
	    <result column="PRICESGOODS" property="pricesgoods" jdbcType="VARCHAR" />
	    <result column="PRICESCLASS" property="pricesclass" jdbcType="VARCHAR" />
	    <result column="PRICESLEVEL" property="priceslevel" jdbcType="DECIMAL" />
	    <result column="PRICESPRICE" property="pricesprice" jdbcType="FLOAT" />
	    <result column="PRICESUNIT" property="pricesunit" jdbcType="VARCHAR" />
	    <result column="PRICESPRICE2" property="pricesprice2" jdbcType="FLOAT" />
	    <result column="PRICESUNIT2" property="pricesunit2" jdbcType="VARCHAR" />
	    <result column="CREATETIME" property="createtime" jdbcType="VARCHAR" />
	    <result column="UPDTIME" property="updtime" jdbcType="VARCHAR" />
	    <result column="PRICESCREATOR" property="creator" jdbcType="VARCHAR" />
	    <result column="UPDOR" property="updor" jdbcType="VARCHAR" />
    </collection>
    <!-- 特殊价格 -->
    <collection property="largecuspriceList" ofType="com.server.pojo.entity.Largecusprice">
    	<id column="LARGECUSPRICEID" property="largecuspriceid" jdbcType="VARCHAR" />
	    <result column="LARGECUSPRICECOMPANY" property="largecuspricecompany" jdbcType="VARCHAR" />
	    <result column="LARGECUSPRICECUSTOMER" property="largecuspricecustomer" jdbcType="VARCHAR" />
	    <result column="LARGECUSPRICEGOODS" property="largecuspricegoods" jdbcType="VARCHAR" />
	    <result column="LARGECUSPRICEPRICE" property="largecuspriceprice" jdbcType="VARCHAR" />
	    <result column="LARGECUSPRICEDETAIL" property="largecuspricedetail" jdbcType="VARCHAR" />
	    <result column="LARGECUSPRICECREATETIME" property="largecuspricecreatetime" jdbcType="VARCHAR" />
	    <result column="LARGECUSPRICECREATOR" property="largecuspricecreator" jdbcType="VARCHAR" />
	    <result column="LARGECUSPRICEPRICE2" property="largecuspriceprice2" jdbcType="VARCHAR" />
	    <result column="LARGECUSPRICEUNIT" property="largecuspriceunit" jdbcType="VARCHAR" />
	    <result column="LARGECUSPRICEUNIT2" property="largecuspriceunit2" jdbcType="VARCHAR" />
    </collection>
  </resultMap>
  <sql id="Base_Column_List" >
    GOODSID, GOODSCOMPANY, GOODSCODE, GOODSNAME, GOODSDETAIL, GOODSUNITS, GOODSCLASS, 
    GOODSIMAGE, GOODSSTATUE, CREATETIME, UPDTIME, CREATOR, UPDOR, GOODSBRAND, GOODSTYPE, 
    GOODSORDER
  </sql>
  <!-- 大客户商品和价格(信息条数) -->
  <select id="selectlagerCusGoodsCount" resultType="int">
	select count(distinct goodsid) 
	from goods g
	left outer join goodsclass gc
	on g.goodsclass = gc.goodsclassid
	left outer join prices p
	on p.pricesgoods = g.goodsid
	left outer join largecusprice lcp
	on lcp.largecuspricegoods = g.goodsid
	where g.goodsstatue = '上架'
	and p.pricesclass = #{pricesList[0].pricesclass}
	and p.priceslevel = #{pricesList[0].priceslevel}
	and (lcp.largecuspricecompany = #{goodscompany} or lcp.largecuspricecompany is null )
	<if test="goodscode != null and goodscode != ''">
			and
			(g.GOODSCODE like '%${goodscode}%' or
			g.GOODSNAME like '%${goodscode}%' or
			g.GOODSUNITS like '%${goodscode}%' or
			g.GOODSCLASS like '%${goodscode}%' or
			g.GOODSSTATUE like '%${goodscode}%' or
			g.CREATOR like '%${goodscode}%' or
			g.UPDOR like '%${goodscode}%' or
			gc.goodsclassname like '%${goodscode}%')
	</if>
  </select>
  <!-- 大客户商品和价格 -->
  <select id="selectlagerCusGoods" resultMap="BaseResultMap">
	select * from 
	(select A.*, ROWNUM RN from (
	select 
	distinct g.*,p.pricesid,p.pricesprice,p.pricesunit,p.pricesprice2,p.pricesunit2,lcp.largecuspriceprice
	,lcp.largecuspriceunit,lcp.largecuspriceunit2,lcp.largecuspriceprice2,lcp.largecuspriceid,gc.goodsclassname
	,lcp.largecuspricecreatetime
	from goods g
	left outer join goodsclass gc
	on g.goodsclass = gc.goodsclassid
	left outer join prices p
	on p.pricesgoods = g.goodsid
	left outer join largecusprice lcp
	on lcp.largecuspricegoods = g.goodsid
	where g.goodsstatue = '上架'
	and p.pricesclass = #{goods.pricesList[0].pricesclass}
	and p.priceslevel = #{goods.pricesList[0].priceslevel}
	and (lcp.largecuspricecompany = #{goods.goodscompany} or lcp.largecuspricecompany is null )
	<if test="goods.goodscode != null and goods.goodscode != ''">
			and
			(g.GOODSCODE like '%${goods.goodscode}%' or
			g.GOODSNAME like '%${goods.goodscode}%' or
			g.GOODSUNITS like '%${goods.goodscode}%' or
			g.GOODSCLASS like '%${goods.goodscode}%' or
			g.CREATOR like '%${goods.goodscode}%' or
			g.UPDOR like '%${goods.goodscode}%' or
			gc.goodsclassname like '%${goods.goodscode}%')
	</if>
	order by g.createtime,lcp.largecuspricecreatetime desc nulls last
	) A where ROWNUM  &lt;= (#{nowpage}*#{pagesize}) ) 
	where RN &gt; ((#{nowpage}-1)*#{pagesize})
  </select>
  <!-- 查询全部餐饮商品(信息条数) -->
  <select id="selectAllCanyinGoodsCount" resultType="int">
	select
		count(distinct goods.goodsid) 
	from goods
	 left join goodsclass gc
    on gc.goodsclassid = goods.goodsclass
    left join prices p 
    on p.pricesgoods = goods.goodsid
    where goods.goodscompany = #{goodscompany} 
    and p.pricesclass = '3' 
    and p.creator = '启用'
    <if test="goodsstatue != null and goodsstatue != ''">
    	and goods.goodsstatue = #{goodsstatue}
    </if>
    <if test="goodscode != null and goodscode != ''">
			and
			(goods.GOODSCODE like '%${goodscode}%' or
			goods.GOODSNAME like '%${goodscode}%' or
			goods.GOODSUNITS like '%${goodscode}%' or
			goods.GOODSCLASS like '%${goodscode}%' or
			goods.GOODSSTATUE like '%${goodscode}%' or
			goods.CREATOR like '%${goodscode}%' or
			goods.UPDOR like '%${goodscode}%' or
			gc.goodsclassname like '%${goodscode}%')
		</if>
  </select>
  <!-- 查询全部餐饮商品 -->
  <select id="selectAllCanyinGoods" resultMap="BaseResultMap">
	select * from 
	(select A.*, ROWNUM RN from (
		select
    distinct goods.*,
    gc.goodsclassname,
    gc.goodsclassid
    from goods
    left join goodsclass gc
    on gc.goodsclassid = goods.goodsclass
    left join prices p 
    on p.pricesgoods = goods.goodsid
    where goods.goodscompany = #{goods.goodscompany} 
    and p.pricesclass = '3' 
    and p.creator = '启用'
    <if test="goods.goodsstatue != null and goods.goodsstatue != ''">
    	and goods.goodsstatue = #{goods.goodsstatue}
    </if>
    <if test="goods.goodscode != null and goods.goodscode != ''">
			and
			(goods.GOODSCODE like '%${goods.goodscode}%' or
			goods.GOODSNAME like '%${goods.goodscode}%' or
			goods.GOODSUNITS like '%${goods.goodscode}%' or
			goods.GOODSCLASS like '%${goods.goodscode}%' or
			goods.GOODSSTATUE like '%${goods.goodscode}%' or
			goods.CREATOR like '%${goods.goodscode}%' or
			goods.UPDOR like '%${goods.goodscode}%' or
			gc.goodsclassname like '%${goods.goodscode}%')
	</if>
	order by goods.createtime,goods.goodsid desc
 ) A where ROWNUM  &lt;= (#{nowpage}*#{pagesize}) )
where RN &gt; ((#{nowpage}-1)*#{pagesize})
    
  </select>
  <!-- 根据编码查询商品 -->
  <select id="selectByGoods" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
		goods.*,
		prices.*,
		goodsclass.goodsclassname 
	from goods
	left outer join prices 
	on prices.pricesgoods = goods.goodsid
	left outer join goodsclass
	on goods.goodsclass = goodsclass.goodsclassid
    where goods.GOODSCODE = #{goodscode}
    and prices.pricesclass = #{customertype}
    and prices.priceslevel = #{customerlevel}
    and prices.creator = '启用'
  </select>
  <!-- 查询信息总条数 -->
  <select id="selectByConditionCount" resultType="int">
	select
		count(*) 
	from goods
	left join goodsclass
    on goodsclass.goodsclassid = goods.goodsclass
    where goods.goodscompany = #{goodscompany}
    <if test="goodsstatue != null and goodsstatue != ''">
    	and goods.goodsstatue = #{goodsstatue}
    </if>
    <if test="goodscode != null and goodscode != ''">
			and
			(goods.GOODSCODE like '%${goodscode}%' or
			goods.GOODSNAME like '%${goodscode}%' or
			goods.GOODSUNITS like '%${goodscode}%' or
			goods.GOODSCLASS like '%${goodscode}%' or
			goods.GOODSSTATUE like '%${goodscode}%' or
			goods.CREATOR like '%${goodscode}%' or
			goods.UPDOR like '%${goodscode}%' or
			goodsclass.goodsclassname like '%${goodscode}%')
		</if>
  </select>
  <!-- 根据分页查询 -->
  <select id="selectByCondition" resultMap="BaseResultMap">
	select * from 
	(select A.*, ROWNUM RN from (
		select
    goods.*,
    goodsclass.goodsclassname,
    goodsclass.goodsclassid
    from goods
    left join goodsclass
    on goodsclass.goodsclassid = goods.goodsclass
    where goods.goodscompany = #{goods.goodscompany}
    <if test="goods.goodsstatue != null and goods.goodsstatue != ''">
    	and goods.goodsstatue = #{goods.goodsstatue}
    </if>
    <if test="goods.goodscode != null and goods.goodscode != ''">
			and
			(goods.GOODSCODE like '%${goods.goodscode}%' or
			goods.GOODSNAME like '%${goods.goodscode}%' or
			goods.GOODSUNITS like '%${goods.goodscode}%' or
			goods.GOODSCLASS like '%${goods.goodscode}%' or
			goods.GOODSSTATUE like '%${goods.goodscode}%' or
			goods.CREATOR like '%${goods.goodscode}%' or
			goods.UPDOR like '%${goods.goodscode}%' or
			goodsclass.goodsclassname like '%${goods.goodscode}%')
	</if>
	order by goods.createtime,goods.goodsid desc
 ) A where ROWNUM  &lt;= (#{nowpage}*#{pagesize}) ) 
where RN &gt; ((#{nowpage}-1)*#{pagesize})
    
  </select>
  <!-- 根据主键查询商品和价格和类名 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
		goods.*,
		prices.pricesid, 
		prices.pricesclass,
		prices.priceslevel,
		prices.pricesprice,
		prices.pricesunit,
		prices.pricesprice2,
		prices.pricesunit2,
		prices.createtime,
		prices.creator pricescreator,
		prices.updor,
		goodsclass.goodsclassname 
	from goods
	left outer join prices 
	on prices.pricesgoods = goods.goodsid
	left outer join goodsclass
	on goods.goodsclass = goodsclass.goodsclassid
    where goods.GOODSID = #{goodsid,jdbcType=VARCHAR}
  </select>
  <!-- 根据主键删除 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from GOODS
    where GOODSID = #{goodsid,jdbcType=VARCHAR}
  </delete>
  <!-- 选择性添加 -->
  <insert id="insertSelective" parameterType="com.server.pojo.entity.Goods" >
    insert into GOODS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="goodsid != null" >
        GOODSID,
      </if>
      <if test="goodscompany != null" >
        GOODSCOMPANY,
      </if>
      <if test="goodscode != null" >
        GOODSCODE,
      </if>
      <if test="goodsname != null" >
        GOODSNAME,
      </if>
      <if test="goodsdetail != null" >
        GOODSDETAIL,
      </if>
      <if test="goodsunits != null" >
        GOODSUNITS,
      </if>
      <if test="goodsclass != null" >
        GOODSCLASS,
      </if>
      <if test="goodsimage != null" >
        GOODSIMAGE,
      </if>
      <if test="goodsstatue != null" >
        GOODSSTATUE,
      </if>
      <if test="createtime != null" >
        CREATETIME,
      </if>
      <if test="updtime != null" >
        UPDTIME,
      </if>
      <if test="creator != null" >
        CREATOR,
      </if>
      <if test="updor != null" >
        UPDOR,
      </if>
      <if test="goodsbrand != null" >
        GOODSBRAND,
      </if>
      <if test="goodstype != null" >
        GOODSTYPE,
      </if>
      <if test="goodsorder != null" >
        GOODSORDER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="goodsid != null" >
        #{goodsid,jdbcType=VARCHAR},
      </if>
      <if test="goodscompany != null" >
        #{goodscompany,jdbcType=VARCHAR},
      </if>
      <if test="goodscode != null" >
        #{goodscode,jdbcType=VARCHAR},
      </if>
      <if test="goodsname != null" >
        #{goodsname,jdbcType=VARCHAR},
      </if>
      <if test="goodsdetail != null" >
        #{goodsdetail,jdbcType=VARCHAR},
      </if>
      <if test="goodsunits != null" >
        #{goodsunits,jdbcType=VARCHAR},
      </if>
      <if test="goodsclass != null" >
        #{goodsclass,jdbcType=VARCHAR},
      </if>
      <if test="goodsimage != null" >
        #{goodsimage,jdbcType=VARCHAR},
      </if>
      <if test="goodsstatue != null" >
        #{goodsstatue,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="updtime != null" >
        #{updtime,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updor != null" >
        #{updor,jdbcType=VARCHAR},
      </if>
      <if test="goodsbrand != null" >
        #{goodsbrand,jdbcType=VARCHAR},
      </if>
      <if test="goodstype != null" >
        #{goodstype,jdbcType=VARCHAR},
      </if>
      <if test="goodsorder != null" >
        #{goodsorder,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <!-- 根据主键选择性修改 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.server.pojo.entity.Goods" >
    update GOODS
    <set >
      <if test="goodscompany != null" >
        GOODSCOMPANY = #{goodscompany,jdbcType=VARCHAR},
      </if>
      <if test="goodscode != null" >
        GOODSCODE = #{goodscode,jdbcType=VARCHAR},
      </if>
      <if test="goodsname != null" >
        GOODSNAME = #{goodsname,jdbcType=VARCHAR},
      </if>
      <if test="goodsdetail != null" >
        GOODSDETAIL = #{goodsdetail,jdbcType=VARCHAR},
      </if>
      <if test="goodsunits != null" >
        GOODSUNITS = #{goodsunits,jdbcType=VARCHAR},
      </if>
      <if test="goodsclass != null" >
        GOODSCLASS = #{goodsclass,jdbcType=VARCHAR},
      </if>
      <if test="goodsimage != null" >
        GOODSIMAGE = #{goodsimage,jdbcType=VARCHAR},
      </if>
      <if test="goodsstatue != null" >
        GOODSSTATUE = #{goodsstatue,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        CREATETIME = #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="updtime != null" >
        UPDTIME = #{updtime,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        CREATOR = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updor != null" >
        UPDOR = #{updor,jdbcType=VARCHAR},
      </if>
      <if test="goodsbrand != null" >
        GOODSBRAND = #{goodsbrand,jdbcType=VARCHAR},
      </if>
      <if test="goodstype != null" >
        GOODSTYPE = #{goodstype,jdbcType=VARCHAR},
      </if>
      <if test="goodsorder != null" >
        GOODSORDER = #{goodsorder,jdbcType=DECIMAL},
      </if>
    </set>
    where GOODSID = #{goodsid,jdbcType=VARCHAR}
  </update>
</mapper>