<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.server.dao.mapper.LargecuspriceMapper" >
  <resultMap id="BaseResultMap" type="com.server.pojo.entity.Largecusprice" >
    <id column="LARGECUSPRICEID" property="largecuspriceid" jdbcType="VARCHAR" />
    <result column="LARGECUSPRICECOMPANY" property="largecuspricecompany" jdbcType="VARCHAR" />
    <result column="LARGECUSPRICECUSTOMER" property="largecuspricecustomer" jdbcType="VARCHAR" />
    <result column="LARGECUSPRICEGOODS" property="largecuspricegoods" jdbcType="VARCHAR" />
    <result column="LARGECUSPRICEPRICE" property="largecuspriceprice" jdbcType="VARCHAR" />
    <result column="LARGECUSPRICEDETAIL" property="largecuspricedetail" jdbcType="VARCHAR" />
    <result column="LARGECUSPRICECREATETIME" property="largecuspricecreatetime" jdbcType="VARCHAR" />
    <result column="LARGECUSPRICECREATOR" property="largecuspricecreator" jdbcType="VARCHAR" />
    <result column="LARGECUSPRICEPRICE2" property="largecuspriceprice2" jdbcType="VARCHAR" />
    <result column="LARGECUSPRICEUNIT" property="largecuspriceunit" jdbcType="VARCHAR" />
    <result column="LARGECUSPRICEUNIT2" property="largecuspriceunit2" jdbcType="VARCHAR" />
    <result column="LARGECUSUPDTIME" property="largecusupdtime" jdbcType="VARCHAR" />
    <result column="LARGECUSUPDOR" property="largecusupdor" jdbcType="VARCHAR" />
    <!-- 商品 -->
    <association property="lcpGoods" javaType="com.server.pojo.entity.Goods">
    	<id column="GOODSID" property="goodsid" jdbcType="VARCHAR" />
	    <result column="GOODSCOMPANY" property="goodscompany" jdbcType="VARCHAR" />
	    <result column="GOODSCODE" property="goodscode" jdbcType="VARCHAR" />
	    <result column="GOODSNAME" property="goodsname" jdbcType="VARCHAR" />
	    <result column="GOODSDETAIL" property="goodsdetail" jdbcType="VARCHAR" />
	    <result column="GOODSUNITS" property="goodsunits" jdbcType="VARCHAR" />
	    <result column="GOODSCLASS" property="goodsclass" jdbcType="VARCHAR" />
	    <result column="GOODSIMAGE" property="goodsimage" jdbcType="VARCHAR" />
	    <result column="GOODSSTATUE" property="goodsstatue" jdbcType="VARCHAR" />
	    <result column="CREATETIME" property="createtime" jdbcType="VARCHAR" />
	    <result column="UPDTIME" property="updtime" jdbcType="VARCHAR" />
	    <result column="CREATOR" property="creator" jdbcType="VARCHAR" />
	    <result column="UPDOR" property="updor" jdbcType="VARCHAR" />
	    <result column="GOODSBRAND" property="goodsbrand" jdbcType="VARCHAR" />
	    <result column="GOODSTYPE" property="goodstype" jdbcType="VARCHAR" />
	    <result column="GOODSORDER" property="goodsorder" jdbcType="DECIMAL" />
	    <!-- 商品类别 -->
	    <association property="gClass" javaType="com.server.pojo.entity.Goodsclass">
	    	<id column="GOODSCLASS" property="goodsclassid" jdbcType="VARCHAR" />
		    <result column="GOODSCLASSCODE" property="goodsclasscode" jdbcType="VARCHAR" />
		    <result column="GOODSCLASSNAME" property="goodsclassname" jdbcType="VARCHAR" />
		    <result column="GOODSCLASSPARENT" property="goodsclassparent" jdbcType="VARCHAR" />
		    <result column="GOODSCLASSDETAIL" property="goodsclassdetail" jdbcType="VARCHAR" />
		    <result column="GOODSCLASSSTATUE" property="goodsclassstatue" jdbcType="VARCHAR" />
	    </association>
    </association>
  </resultMap>
  <select id="selectCusBargainByGoodsId"  resultType="int">
  select count(*) from largecusprice lcp 
  	where lcp.largecuspricecompany = #{largecuspricecompany} 
	and lcp.largecuspricecustomer = #{largecuspricecustomer}
	and lcp.largecuspricegoods = #{largecuspricegoods}
  </select>
  <select id="selectLargeCusPriceGoodsCount" resultType="int">
  	select count(*)
	from largecusprice lcp 
	left join goods g
	on g.goodsid = lcp.largecuspricegoods
	left outer join goodsclass gc
	on g.goodsclass = gc.goodsclassid
	where lcp.largecuspricecompany = #{largecuspricecompany} 
	and lcp.largecuspricecustomer = #{largecuspricecustomer}
	<if test="largecuspriceprice != null and largecuspriceprice != ''">
		and (lcp.largecuspriceprice like '%${largecuspriceprice}%'
		or lcp.largecuspricedetail like '%${largecuspriceprice}%'
		or lcp.largecuspricecreatetime like '%${largecuspriceprice}%'
		or lcp.largecuspricecreator like '%${largecuspriceprice}%'
		or lcp.largecuspriceunit like '%${largecuspriceprice}%'
		or lcp.largecuspriceprice2 like '%${largecuspriceprice}%'
		or lcp.largecuspriceunit2 like '%${largecuspriceprice}%'
		or g.GOODSCODE like '%${largecuspriceprice}%'
		or g.GOODSNAME like '%${largecuspriceprice}%'
		or gc.goodsclassname like '%${largecuspriceprice}%'
		)
	</if>
  </select>
  <select id="selectLargeCusPriceGoods"  resultMap="BaseResultMap">
  select * from 
	(select A.*, ROWNUM RN from (
  	select * 
	from largecusprice lcp 
	left join goods g
	on g.goodsid = lcp.largecuspricegoods
	left outer join goodsclass gc
	on g.goodsclass = gc.goodsclassid
	where lcp.largecuspricecompany = #{largecusprice.largecuspricecompany} 
	and lcp.largecuspricecustomer = #{largecusprice.largecuspricecustomer}
	<if test="largecusprice.largecuspriceprice != null and largecusprice.largecuspriceprice != ''">
		and (lcp.largecuspriceprice like '%${largecusprice.largecuspriceprice}%'
		or lcp.largecuspricedetail like '%${largecusprice.largecuspriceprice}%'
		or lcp.largecuspricecreatetime like '%${largecusprice.largecuspriceprice}%'
		or lcp.largecuspricecreator like '%${largecusprice.largecuspriceprice}%'
		or lcp.largecuspriceunit like '%${largecusprice.largecuspriceprice}%'
		or lcp.largecuspriceprice2 like '%${largecusprice.largecuspriceprice}%'
		or lcp.largecuspriceunit2 like '%${largecusprice.largecuspriceprice}%'
		or g.GOODSCODE like '%${largecusprice.largecuspriceprice}%'
		or g.GOODSNAME like '%${largecusprice.largecuspriceprice}%'
		or gc.goodsclassname like '%${largecusprice.largecuspriceprice}%'
		)
	</if>
	order by lcp.largecuspricecreatetime desc
	 ) A where ROWNUM  &lt;= (#{nowpage}*#{pagesize}) ) 
where RN &gt; ((#{nowpage}-1)*#{pagesize})
  </select>
  <!-- 根据主键删除 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from LARGECUSPRICE
    where LARGECUSPRICEID = #{largecuspriceid,jdbcType=VARCHAR}
  </delete>
  <!-- 选择性添加 -->
  <insert id="insertSelective" parameterType="com.server.pojo.entity.Largecusprice" >
    insert into LARGECUSPRICE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="largecuspriceid != null" >
        LARGECUSPRICEID,
      </if>
      <if test="largecuspricecompany != null" >
        LARGECUSPRICECOMPANY,
      </if>
      <if test="largecuspricecustomer != null" >
        LARGECUSPRICECUSTOMER,
      </if>
      <if test="largecuspricegoods != null" >
        LARGECUSPRICEGOODS,
      </if>
      <if test="largecuspriceprice != null" >
        LARGECUSPRICEPRICE,
      </if>
      <if test="largecuspricedetail != null" >
        LARGECUSPRICEDETAIL,
      </if>
      <if test="largecuspricecreatetime != null" >
        LARGECUSPRICECREATETIME,
      </if>
      <if test="largecuspricecreator != null" >
        LARGECUSPRICECREATOR,
      </if>
      <if test="largecuspriceprice2 != null" >
        LARGECUSPRICEPRICE2,
      </if>
      <if test="largecuspriceunit != null" >
        LARGECUSPRICEUNIT,
      </if>
      <if test="largecuspriceunit2 != null" >
        LARGECUSPRICEUNIT2,
      </if>
      <if test="largecusupdtime != null" >
        LARGECUSUPDTIME,
      </if>
      <if test="largecusupdor != null" >
        LARGECUSUPDOR,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="largecuspriceid != null" >
        #{largecuspriceid,jdbcType=VARCHAR},
      </if>
      <if test="largecuspricecompany != null" >
        #{largecuspricecompany,jdbcType=VARCHAR},
      </if>
      <if test="largecuspricecustomer != null" >
        #{largecuspricecustomer,jdbcType=VARCHAR},
      </if>
      <if test="largecuspricegoods != null" >
        #{largecuspricegoods,jdbcType=VARCHAR},
      </if>
      <if test="largecuspriceprice != null" >
        #{largecuspriceprice,jdbcType=VARCHAR},
      </if>
      <if test="largecuspricedetail != null" >
        #{largecuspricedetail,jdbcType=VARCHAR},
      </if>
      <if test="largecuspricecreatetime != null" >
        #{largecuspricecreatetime,jdbcType=VARCHAR},
      </if>
      <if test="largecuspricecreator != null" >
        #{largecuspricecreator,jdbcType=VARCHAR},
      </if>
      <if test="largecuspriceprice2 != null" >
        #{largecuspriceprice2,jdbcType=VARCHAR},
      </if>
      <if test="largecuspriceunit != null" >
        #{largecuspriceunit,jdbcType=VARCHAR},
      </if>
      <if test="largecuspriceunit2 != null" >
        #{largecuspriceunit2,jdbcType=VARCHAR},
      </if>
      <if test="largecusupdtime != null" >
        #{largecusupdtime,jdbcType=VARCHAR},
      </if>
      <if test="largecusupdor != null" >
        #{largecusupdor,jdbcType=VARCHAR},
      </if>
      
    </trim>
  </insert>
  <!-- 根据主键选择性修改 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.server.pojo.entity.Largecusprice" >
    update LARGECUSPRICE
    <set >
      <if test="largecuspricecompany != null" >
        LARGECUSPRICECOMPANY = #{largecuspricecompany,jdbcType=VARCHAR},
      </if>
      <if test="largecuspricecustomer != null" >
        LARGECUSPRICECUSTOMER = #{largecuspricecustomer,jdbcType=VARCHAR},
      </if>
      <if test="largecuspricegoods != null" >
        LARGECUSPRICEGOODS = #{largecuspricegoods,jdbcType=VARCHAR},
      </if>
      <if test="largecuspriceprice != null" >
        LARGECUSPRICEPRICE = #{largecuspriceprice,jdbcType=VARCHAR},
      </if>
      <if test="largecuspricedetail != null" >
        LARGECUSPRICEDETAIL = #{largecuspricedetail,jdbcType=VARCHAR},
      </if>
      <if test="largecuspricecreatetime != null" >
        LARGECUSPRICECREATETIME = #{largecuspricecreatetime,jdbcType=VARCHAR},
      </if>
      <if test="largecuspricecreator != null" >
        LARGECUSPRICECREATOR = #{largecuspricecreator,jdbcType=VARCHAR},
      </if>
      <if test="largecuspriceprice2 != null" >
        LARGECUSPRICEPRICE2 = #{largecuspriceprice2,jdbcType=VARCHAR},
      </if>
      <if test="largecuspriceunit != null" >
        LARGECUSPRICEUNIT = #{largecuspriceunit,jdbcType=VARCHAR},
      </if>
      <if test="largecuspriceunit2 != null" >
        LARGECUSPRICEUNIT2 = #{largecuspriceunit2,jdbcType=VARCHAR},
      </if>
      <if test="largecusupdtime != null" >
        LARGECUSUPDTIME = #{largecusupdtime,jdbcType=VARCHAR},
      </if>
      <if test="largecusupdor != null" >
        LARGECUSUPDOR = #{largecusupdor,jdbcType=VARCHAR},
      </if>
    </set>
    where LARGECUSPRICEID = #{largecuspriceid,jdbcType=VARCHAR}
  </update>
</mapper>