<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.server.dao.mapper.OrderdMapper" >
  <resultMap id="BaseResultMap" type="com.server.pojo.entity.Orderd" >
    <id column="ORDERDID" property="orderdid" jdbcType="VARCHAR" />
    <result column="ORDERDORDERM" property="orderdorderm" jdbcType="VARCHAR" />
    <result column="ORDERDCODE" property="orderdcode" jdbcType="VARCHAR" />
    <result column="ORDERDTYPE" property="orderdtype" jdbcType="VARCHAR" />
    <result column="ORDERDNAME" property="orderdname" jdbcType="VARCHAR" />
    <result column="ORDERDDETAIL" property="orderddetail" jdbcType="VARCHAR" />
    <result column="ORDERDUNITS" property="orderdunits" jdbcType="VARCHAR" />
    <result column="ORDERDPRICE" property="orderdprice" jdbcType="FLOAT" />
    <result column="ORDERDUNIT" property="orderdunit" jdbcType="VARCHAR" />
    <result column="ORDERDCLASS" property="orderdclass" jdbcType="VARCHAR" />
    <result column="ORDERDNUM" property="orderdnum" jdbcType="DECIMAL" />
    <result column="ORDERDMONEY" property="orderdmoney" jdbcType="FLOAT" />
    <result column="ORDERDRIGHTMONEY" property="orderdrightmoney" jdbcType="FLOAT" />
    <!-- 订单 -->
    <association property="orderm" javaType="com.server.pojo.entity.Orderm">
	    <id column="ORDERMID" property="ordermid" jdbcType="VARCHAR" />
	    <result column="ORDERMCUSTOMER" property="ordermcustomer" jdbcType="VARCHAR" />
	    <result column="ORDERMCOMPANY" property="ordermcompany" jdbcType="VARCHAR" />
	    <result column="ORDERMCODE" property="ordermcode" jdbcType="VARCHAR" />
	    <result column="ORDERMNUM" property="ordermnum" jdbcType="DECIMAL" />
	    <result column="ORDERMMONEY" property="ordermmoney" jdbcType="FLOAT" />
	    <result column="ORDERMRIGHTMONEY" property="ordermrightmoney" jdbcType="FLOAT" />
	    <result column="ORDERMWAY" property="ordermway" jdbcType="VARCHAR" />
	    <result column="ORDERMSTATUE" property="ordermstatue" jdbcType="VARCHAR" />
	    <result column="ORDERMDETAIL" property="ordermdetail" jdbcType="VARCHAR" />
	    <result column="ORDERMTIME" property="ordermtime" jdbcType="VARCHAR" />
	    <result column="ORDERMCONNECT" property="ordermconnect" jdbcType="VARCHAR" />
	    <result column="ORDERMPHONE" property="ordermphone" jdbcType="VARCHAR" />
	    <result column="ORDERMADDRESS" property="ordermaddress" jdbcType="VARCHAR" />
	    <result column="UPDTIME" property="updtime" jdbcType="VARCHAR" />
	    <result column="UPDOR" property="updor" jdbcType="VARCHAR" />
	    <result column="ORDERMEMP" property="ordermemp" jdbcType="VARCHAR" />
    </association>
  </resultMap>
  <sql id="Base_Column_List" >
    ORDERDID, ORDERDORDERM, ORDERDCODE, ORDERDTYPE, ORDERDNAME, ORDERDDETAIL, ORDERDUNITS, 
    ORDERDPRICE, ORDERDUNIT, ORDERDCLASS, ORDERDNUM, ORDERDMONEY, ORDERDRIGHTMONEY
  </sql>
  <!-- 查询到客户的所有秒杀品的订单详情 -->
  <select id="selectOrderdByCustomerMiaosha" resultMap="BaseResultMap" parameterType="com.server.pojo.entity.Orderd" >
    select
	 d.*
	from orderd d
	left join orderm m
	on m.ordermid = d.orderdorderm
	where d.orderdtype = #{orderdtype}
	and m.ordermcustomer = #{orderm.ordermcustomer}
  </select>
  <!-- 根据时间范围(多条件)查询订单(分页) -->
  <select id="selectByPage" resultMap="BaseResultMap" >
  	select * from 
	(select A.*, ROWNUM RN from (
  	select
		orderd.*,
		orderm.ordermid,
		orderm.ordermtime
	from orderd
	left join orderm
	on orderd.orderdorderm = orderm.ordermid
	where orderm.ordermcompany = #{companyid,jdbcType=VARCHAR}
	<if test="staTime != null and staTime != ''">
		and orderm.ordermtime &gt;= #{staTime}
	</if>
	<if test="endTime != null and endTime != ''">
		and orderm.ordermtime &lt;= #{endTime}
	</if>
	<if test="condition != null and condition != ''">
		and 
		(orderd.orderdcode like '%${condition}%' or
		orderd.orderdname like '%${condition}%' or
		orderd.orderdunits like '%${condition}%' or
		orderd.orderdunit like '%${condition}%' or
		orderd.orderdnum like '%${condition}%' or
		orderd.orderdprice like '%${condition}%' or
		orderd.orderdmoney like '%${condition}%' or
		orderd.orderdrightmoney like '%${condition}%')
	</if>
	order by orderm.ordermtime desc
	 ) A where ROWNUM  &lt;= (#{nowpage}*#{pagesize}) ) 
	where RN &gt; ((#{nowpage}-1)*#{pagesize})
  </select>
  <!-- 根据时间范围(多条件)查询订单(数量) -->
  <select id="selectByTimeCount" resultType="int" >
  	select
		count(*) 
	from orderd
	left join orderm
	on orderd.orderdorderm = orderm.ordermid
	where orderm.ordermcompany = #{companyid,jdbcType=VARCHAR}
	<if test="staTime != null and staTime != ''">
		and orderm.ordermtime &gt;= #{staTime}
	</if>
	<if test="endTime != null and endTime != ''">
		and orderm.ordermtime &lt;= #{endTime}
	</if>
	<if test="condition != null and condition != ''">
		and 
		(orderd.orderdcode like '%${condition}%' or
		orderd.orderdname like '%${condition}%' or
		orderd.orderdunits like '%${condition}%' or
		orderd.orderdunit like '%${condition}%' or
		orderd.orderdnum like '%${condition}%' or
		orderd.orderdprice like '%${condition}%' or
		orderd.orderdmoney like '%${condition}%' or
		orderd.orderdrightmoney like '%${condition}%')
	</if>
	order by orderm.ordermtime desc
  </select>
  <!-- 条件查询统计 -->
  <select id="selectOrderdStatistics" resultType="com.server.pojo.entity.OrderdStatistics" >
  	select
  		sum(orderd.orderdnum) as numtotal,
	    sum(orderd.orderdprice) as pricetotal,
	    sum(orderd.orderdmoney) as moneytotal,
	    sum(orderd.orderdrightmoney) as rightmoneytotal
	from orderd
	left join orderm
	on orderd.orderdorderm = orderm.ordermid
	where orderm.ordermcompany = #{companyid,jdbcType=VARCHAR}
	<if test="staTime != null and staTime != ''">
		and orderm.ordermtime &gt;= #{staTime}
	</if>
	<if test="endTime != null and endTime != ''">
		and orderm.ordermtime &lt;= #{endTime}
	</if>
	<if test="condition != null and condition != ''">
		and 
		(orderd.orderdcode like '%${condition}%' or
		orderd.orderdname like '%${condition}%' or
		orderd.orderdunits like '%${condition}%' or
		orderd.orderdunit like '%${condition}%' or
		orderd.orderdnum like '%${condition}%' or
		orderd.orderdprice like '%${condition}%' or
		orderd.orderdmoney like '%${condition}%' or
		orderd.orderdrightmoney like '%${condition}%')
	</if>
	order by orderm.ordermtime desc
  </select>
  <!-- 根据时间范围(多条件)查询订单 -->
  <select id="selectByTime" resultMap="BaseResultMap" >
  	select
		orderd.*,
		orderm.ordermid,
		orderm.ordermtime
	from orderd
	left join orderm
	on orderd.orderdorderm = orderm.ordermid
	where orderm.ordermcompany = #{companyid,jdbcType=VARCHAR}
	<if test="staTime != null and staTime != ''">
		and orderm.ordermtime &gt;= #{staTime}
	</if>
	<if test="endTime != null and endTime != ''">
		and orderm.ordermtime &lt;= #{endTime}
	</if>
	<if test="condition != null and condition != ''">
		and 
		(orderd.orderdcode like '%${condition}%' or
		orderd.orderdname like '%${condition}%' or
		orderd.orderdunits like '%${condition}%' or
		orderd.orderdunit like '%${condition}%' or
		orderd.orderdnum like '%${condition}%' or
		orderd.orderdprice like '%${condition}%' or
		orderd.orderdmoney like '%${condition}%' or
		orderd.orderdrightmoney like '%${condition}%')
	</if>
	order by orderm.ordermtime desc
  </select>
  <!-- 根据主键查询 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ORDERD
    where ORDERDID = #{orderdid,jdbcType=VARCHAR}
  </select>
  <!-- 根据主键删除 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ORDERD
    where ORDERDID = #{orderdid,jdbcType=VARCHAR}
  </delete>
  <!-- 选择性添加 -->
  <insert id="insertSelective" parameterType="com.server.pojo.entity.Orderd" >
    insert into ORDERD
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderdid != null" >
        ORDERDID,
      </if>
      <if test="orderdorderm != null" >
        ORDERDORDERM,
      </if>
      <if test="orderdcode != null" >
        ORDERDCODE,
      </if>
      <if test="orderdtype != null" >
        ORDERDTYPE,
      </if>
      <if test="orderdname != null" >
        ORDERDNAME,
      </if>
      <if test="orderddetail != null" >
        ORDERDDETAIL,
      </if>
      <if test="orderdunits != null" >
        ORDERDUNITS,
      </if>
      <if test="orderdprice != null" >
        ORDERDPRICE,
      </if>
      <if test="orderdunit != null" >
        ORDERDUNIT,
      </if>
      <if test="orderdclass != null" >
        ORDERDCLASS,
      </if>
      <if test="orderdnum != null" >
        ORDERDNUM,
      </if>
      <if test="orderdmoney != null" >
        ORDERDMONEY,
      </if>
      <if test="orderdrightmoney != null" >
        ORDERDRIGHTMONEY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderdid != null" >
        #{orderdid,jdbcType=VARCHAR},
      </if>
      <if test="orderdorderm != null" >
        #{orderdorderm,jdbcType=VARCHAR},
      </if>
      <if test="orderdcode != null" >
        #{orderdcode,jdbcType=VARCHAR},
      </if>
      <if test="orderdtype != null" >
        #{orderdtype,jdbcType=VARCHAR},
      </if>
      <if test="orderdname != null" >
        #{orderdname,jdbcType=VARCHAR},
      </if>
      <if test="orderddetail != null" >
        #{orderddetail,jdbcType=VARCHAR},
      </if>
      <if test="orderdunits != null" >
        #{orderdunits,jdbcType=VARCHAR},
      </if>
      <if test="orderdprice != null" >
        #{orderdprice,jdbcType=FLOAT},
      </if>
      <if test="orderdunit != null" >
        #{orderdunit,jdbcType=VARCHAR},
      </if>
      <if test="orderdclass != null" >
        #{orderdclass,jdbcType=VARCHAR},
      </if>
      <if test="orderdnum != null" >
        #{orderdnum,jdbcType=DECIMAL},
      </if>
      <if test="orderdmoney != null" >
        #{orderdmoney,jdbcType=FLOAT},
      </if>
      <if test="orderdrightmoney != null" >
        #{orderdrightmoney,jdbcType=FLOAT},
      </if>
    </trim>
  </insert>
  <!-- 根据主键选择性修改 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.server.pojo.entity.Orderd" >
    update ORDERD
    <set >
      <if test="orderdorderm != null" >
        ORDERDORDERM = #{orderdorderm,jdbcType=VARCHAR},
      </if>
      <if test="orderdcode != null" >
        ORDERDCODE = #{orderdcode,jdbcType=VARCHAR},
      </if>
      <if test="orderdtype != null" >
        ORDERDTYPE = #{orderdtype,jdbcType=VARCHAR},
      </if>
      <if test="orderdname != null" >
        ORDERDNAME = #{orderdname,jdbcType=VARCHAR},
      </if>
      <if test="orderddetail != null" >
        ORDERDDETAIL = #{orderddetail,jdbcType=VARCHAR},
      </if>
      <if test="orderdunits != null" >
        ORDERDUNITS = #{orderdunits,jdbcType=VARCHAR},
      </if>
      <if test="orderdprice != null" >
        ORDERDPRICE = #{orderdprice,jdbcType=FLOAT},
      </if>
      <if test="orderdunit != null" >
        ORDERDUNIT = #{orderdunit,jdbcType=VARCHAR},
      </if>
      <if test="orderdclass != null" >
        ORDERDCLASS = #{orderdclass,jdbcType=VARCHAR},
      </if>
      <if test="orderdnum != null" >
        ORDERDNUM = #{orderdnum,jdbcType=DECIMAL},
      </if>
      <if test="orderdmoney != null" >
        ORDERDMONEY = #{orderdmoney,jdbcType=FLOAT},
      </if>
      <if test="orderdrightmoney != null" >
        ORDERDRIGHTMONEY = #{orderdrightmoney,jdbcType=FLOAT},
      </if>
    </set>
    where ORDERDID = #{orderdid,jdbcType=VARCHAR}
  </update>
</mapper>