<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.server.dao.mapper.OrdermMapper" >
  <resultMap id="BaseResultMap" type="com.server.pojo.entity.Orderm" >
    <id column="ORDERMID" property="ordermid" jdbcType="VARCHAR" />
    <result column="ORDERMCUSTOMER" property="ordermcustomer" jdbcType="VARCHAR" />
    <result column="ORDERMCOMPANY" property="ordermcompany" jdbcType="VARCHAR" />
    <result column="ORDERMCODE" property="ordermcode" jdbcType="VARCHAR" />
    <result column="ORDERMNUM" property="ordermnum" jdbcType="DECIMAL" />
    <result column="ORDERMMONEY" property="ordermmoney" jdbcType="FLOAT" />
    <result column="ORDERMRIGHTMONEY" property="ordermrightmoney" jdbcType="FLOAT" />
    <result column="ORDERMWAY" property="ordermway" jdbcType="VARCHAR" />
    <result column="ORDERMSTATUE" property="ordermstatue" jdbcType="VARCHAR" />
    <result column="ORDERMDETAIL" property="ordermdetail" jdbcType="VARCHAR" />
    <result column="ORDERMTIME" property="ordermtime" jdbcType="VARCHAR" />
    <result column="ORDERMCONNECT" property="ordermconnect" jdbcType="VARCHAR" />
    <result column="ORDERMPHONE" property="ordermphone" jdbcType="VARCHAR" />
    <result column="ORDERMADDRESS" property="ordermaddress" jdbcType="VARCHAR" />
    <result column="UPDTIME" property="updtime" jdbcType="VARCHAR" />
    <result column="UPDOR" property="updor" jdbcType="VARCHAR" />
    <result column="ORDERMEMP" property="ordermemp" jdbcType="VARCHAR" />
    <result column="ORDERMCUSSHOP" property="ordermcusshop" jdbcType="VARCHAR" />
    <result column="ORDERMCUSLEVEL" property="ordermcuslevel" jdbcType="VARCHAR" />
    <result column="ORDERMCUSTYPE" property="ordermcustype" jdbcType="VARCHAR" />
    <result column="ORDERMPRINTTIMES" property="ordermprinttimes" jdbcType="VARCHAR" />
    <!-- 客户 -->
    <association property="orderdCustomer" javaType="com.server.pojo.entity.Customer">
	    <id column="CUSTOMERID" property="customerid" jdbcType="VARCHAR" />
	    <result column="CUSTOMERCODE" property="customercode" jdbcType="VARCHAR" />
	    <result column="CUSTOMERNAME" property="customername" jdbcType="VARCHAR" />
	    <result column="CUSTOMERPHONE" property="customerphone" jdbcType="VARCHAR" />
	    <result column="CUSTOMERPSW" property="customerpsw" jdbcType="VARCHAR" />
	    <result column="CUSTOMERSHOP" property="customershop" jdbcType="VARCHAR" />
	    <result column="CUSTOMERCITY" property="customercity" jdbcType="VARCHAR" />
	    <result column="CUSTOMERXIAN" property="customerxian" jdbcType="VARCHAR" />
	    <result column="CUSTOMERADDRESS" property="customeraddress" jdbcType="VARCHAR" />
	    <result column="CUSTOMERTYPE" property="customertype" jdbcType="VARCHAR" />
	    <result column="CUSTOMERLEVEL" property="customerlevel" jdbcType="DECIMAL" />
	    <result column="OPENID" property="openid" jdbcType="VARCHAR" />
	    <result column="CUSTOMERDETAIL" property="customerdetail" jdbcType="VARCHAR" />
	    <result column="CUSTOMERSTATUE" property="customerstatue" jdbcType="VARCHAR" />
	    <result column="CREATETIME" property="createtime" jdbcType="VARCHAR" />
	    <result column="UPDTIME" property="updtime" jdbcType="VARCHAR" />
	 </association>
	 <!-- 经销商 -->
	 <association property="ordermCom" javaType="com.server.pojo.entity.Company">
	 	<id column="COMPANYID" property="companyid" jdbcType="VARCHAR" />
	    <result column="COMPANYCODE" property="companycode" jdbcType="VARCHAR" />
	    <result column="USERNAME" property="username" jdbcType="VARCHAR" />
	    <result column="COMPANYPHONE" property="companyphone" jdbcType="VARCHAR" />
	    <result column="COMPANYSHOP" property="companyshop" jdbcType="VARCHAR" />
	    <result column="COMPANYCITY" property="companycity" jdbcType="VARCHAR" />
	    <result column="COMPANYADDRESS" property="companyaddress" jdbcType="VARCHAR" />
	    <result column="COMPANYDETAIL" property="companydetail" jdbcType="VARCHAR" />
	    <result column="COMPANYSTATUE" property="companystatue" jdbcType="VARCHAR" />
	    <result column="LOGINNAME" property="loginname" jdbcType="VARCHAR" />
	    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
	    <result column="CREATETIME" property="createtime" jdbcType="VARCHAR" />
	    <result column="UPDTIME" property="updtime" jdbcType="VARCHAR" />
	 </association>
    <!-- 订单详情 -->
    <collection property="orderdList" ofType="com.server.pojo.entity.Orderd">
    	<id column="ORDERDID" property="orderdid" jdbcType="VARCHAR" />
	    <result column="ORDERDORDERM" property="orderdorderm" jdbcType="VARCHAR" />
	    <result column="ORDERDCODE" property="orderdcode" jdbcType="VARCHAR" />
	    <result column="ORDERDTYPE" property="orderdtype" jdbcType="VARCHAR" />
	    <result column="ORDERDNAME" property="orderdname" jdbcType="VARCHAR" />
	    <result column="ORDERDDETAIL" property="orderddetail" jdbcType="VARCHAR" />
	    <result column="ORDERDUNITS" property="orderdunits" jdbcType="VARCHAR" />
	    <result column="ORDERDPRICE" property="orderdprice" jdbcType="FLOAT" />
	    <result column="ORDERDUNIT" property="orderdunit" jdbcType="VARCHAR" />
	    <result column="ORDERDCLASS" property="orderdclass" jdbcType="VARCHAR" />
	    <result column="ORDERDNUM" property="orderdnum" jdbcType="DECIMAL" />
	    <result column="ORDERDMONEY" property="orderdmoney" jdbcType="FLOAT" />
	    <result column="ORDERDRIGHTMONEY" property="orderdrightmoney" jdbcType="FLOAT" />
    </collection>
  </resultMap>
  <update id="updatePrintCount" >
  	update orderm om set om.ordermprinttimes=#{ordermprinttimes},om.updor=#{updor} 
  	where om.ordermid=#{ordermid} 
  </update>
  <!-- 根据ordermid查询打印订单时需要的信息：订单、客户、经销商 信息 -->
  <select id="selectPrintInfo" resultType="com.server.pojo.entity.PrintInfo">
  	select * from orderm om
  	left join customer c 
  	on c.customerid = om.ordermcustomer
  	left join company com 
  	on com.companyid = om.ordermcompany
  	where om.ordermstatue != '已删除'
  	and 
  	<foreach collection="array" open="(" separator=" or " close=")" item="ordermid">
  		om.ordermid = #{ordermid}
  	</foreach>
  </select>
  <!-- 查询最新的一条订单信息 -->
  <select id="selectNewestOrderm" resultMap="BaseResultMap">
  	SELECT * FROM (
	select om.*,c.customershop from orderm om 
	left join customer c 
	on c.customerid = om.ordermcustomer
	where om.ordermcompany = #{ordermcompany,jdbcType=VARCHAR}
	order by om.ordermtime desc
	) WHERE ROWNUM = 1
  </select>
  <!-- 根据ordermcustomer和orderdcode(商品编码)查询订单中的数量总和 -->
  <select id="selectOrderByCustomerGoods" resultType="int">
  	select 
	sum(ORDERDNUM)
	from orderm
	left join orderd
	on orderd.orderdorderm = orderm.ordermid
	where orderm.ordermcustomer = #{ordermcustomer}
	and orderm.ordermstatue != '已删除'
	and orderd.orderdcode = #{orderdcode}
	and orderd.orderdtype = #{orderdtype}
	and orderm.ORDERMTIME &gt;= #{staTime}
	and orderm.ORDERMTIME &lt;= #{endTime}
  </select>
  <!-- 根据供应商(和条件)查询订单(分页) -->
  <select id="selectByPage" resultType="com.server.pojo.entity.Ordermview">
  	select * from 
	(select A.*, ROWNUM RN from (
    select 
    orderm.*,
    customer.customershop, 
    customer.customerid
    from ORDERM
    left join customer
	on orderm.ordermcustomer = customer.customerid
	left join ccustomer cc on cc.ccustomercustomer = orderm.ordermcustomer and cc.ccustomercompany = orderm.ordermcompany
    where orderm.ordermcompany = #{orderm.ordermcompany,jdbcType=VARCHAR} 
    and orderm.ordermstatue != '已删除'
    	<if test="power != 'company'">
    		and (orderm.ordermtime like '2016-12-30%' or 
    		orderm.ordermid like '%0' or
    		orderm.ordermid like '%1' or
    		orderm.ordermid like '%2' or
    		orderm.ordermid like '%3' or
    		orderm.ordermid like '%4')
    	</if>
    	<if test="orderm.ordermway != null and orderm.ordermway != ''">
    		and ORDERMWAY = #{orderm.ordermway,jdbcType=VARCHAR} 
    	</if>
    	<if test="staTime != null and staTime != ''">
			and orderm.ordermtime &gt;= #{staTime}
		</if>
		<if test="endTime != null and endTime != ''">
			and orderm.ordermtime &lt;= #{endTime}
		</if>
		<if test="orderm.ordermcode != null and orderm.ordermcode != ''">
			and
			(orderm.ORDERMCODE like '%${orderm.ordermcode}%' or
			orderm.ORDERMWAY like '%${orderm.ordermcode}%' or
			orderm.ORDERMSTATUE like '%${orderm.ordermcode}%' or
			orderm.ORDERMCONNECT like '%${orderm.ordermcode}%' or
			orderm.ORDERMPHONE like '%${orderm.ordermcode}%' or
			orderm.ORDERMADDRESS like '%${orderm.ordermcode}%' or
			orderm.UPDOR like '%${orderm.ordermcode}%' or
			orderm.ORDERMEMP like '%${orderm.ordermcode}%' or
			cc.createtime like '%${orderm.ordermcode}%' or
			customer.customershop like '%${orderm.ordermcode}%'
			
			)
		</if>
    order by orderm.ordermtime desc
    ) A where ROWNUM  &lt;= (#{nowpage}*#{pagesize}) ) 
where RN &gt; ((#{nowpage}-1)*#{pagesize})
  </select>
  <!-- 根据供应商(和条件)查询订单(数量) -->
  <select id="selectByPageCount" resultType="int">
    select 
    count(*) 
    from orderm
    left join customer
	on orderm.ordermcustomer = customer.customerid
	left join ccustomer cc on cc.ccustomercustomer = orderm.ordermcustomer and cc.ccustomercompany = orderm.ordermcompany
    where ordermcompany = #{orderm.ordermcompany,jdbcType=VARCHAR} 
    and orderm.ordermstatue != '已删除'
    	<if test="power != 'company'">
    		and (orderm.ordermtime like '2016-12-30%' or 
    		orderm.ordermid like '%0' or
    		orderm.ordermid like '%1' or
    		orderm.ordermid like '%2' or
    		orderm.ordermid like '%3' or
    		orderm.ordermid like '%4')
    	</if>
    	<if test="orderm.ordermway != null and orderm.ordermway != ''">
    		and ORDERMWAY = #{orderm.ordermway,jdbcType=VARCHAR} 
    	</if>
    	<if test="staTime != null and staTime != ''">
			and orderm.ordermtime &gt;= #{staTime}
		</if>
		<if test="endTime != null and endTime != ''">
			and orderm.ordermtime &lt;= #{endTime}
		</if>
		<if test="orderm.ordermcode != null and orderm.ordermcode != ''">
			and
			(orderm.ORDERMCODE like '%${orderm.ordermcode}%' or
			orderm.ORDERMWAY like '%${orderm.ordermcode}%' or
			orderm.ORDERMSTATUE like '%${orderm.ordermcode}%' or
			orderm.ORDERMCONNECT like '%${orderm.ordermcode}%' or
			orderm.ORDERMPHONE like '%${orderm.ordermcode}%' or
			orderm.ORDERMADDRESS like '%${orderm.ordermcode}%' or
			orderm.UPDOR like '%${orderm.ordermcode}%' or
			orderm.ORDERMEMP like '%${orderm.ordermcode}%' or
			cc.createtime like '%${orderm.ordermcode}%' or
			customer.customershop like '%${orderm.ordermcode}%')
		</if>
    order by orderm.ordermtime desc
  </select>
  <!-- 根据供应商(和条件)查询订单 -->
  <select id="selectByCompany" resultType="com.server.pojo.entity.Ordermview">
    select 
    orderm.ORDERMID, orderm.ORDERMCUSTOMER, orderm.ORDERMCOMPANY, orderm.ORDERMCODE, orderm.ORDERMNUM, orderm.ORDERMMONEY, orderm.ORDERMRIGHTMONEY, 
    orderm.ORDERMWAY, orderm.ORDERMSTATUE, orderm.ORDERMDETAIL, orderm.ORDERMTIME,
    orderm.ORDERMCONNECT, 
    orderm.ORDERMPHONE, 
    orderm.ORDERMADDRESS, 
    orderm.UPDTIME, orderm.UPDOR, orderm.ORDERMEMP,
    customer.customershop, 
    customer.customerid
    from ORDERM
    left join customer
	on orderm.ordermcustomer = customer.customerid
    where ordermcompany = #{orderm.ordermcompany,jdbcType=VARCHAR} 
    and orderm.ordermstatue != '已删除'
    	<if test="power != 'company'">
    		and (orderm.ordermtime like '2016-12-30%' or 
    		orderm.ordermid like '%0' or
    		orderm.ordermid like '%1' or
    		orderm.ordermid like '%2' or
    		orderm.ordermid like '%3' or
    		orderm.ordermid like '%4')
    	</if>
    	<if test="orderm.ordermway != null and orderm.ordermway != ''">
    		and ORDERMWAY = #{orderm.ordermway,jdbcType=VARCHAR} 
    	</if>
    	<if test="staTime != null and staTime != ''">
			and orderm.ordermtime &gt;= #{staTime}
		</if>
		<if test="endTime != null and endTime != ''">
			and orderm.ordermtime &lt;= #{endTime}
		</if>
		<if test="orderm.ordermcode != null and orderm.ordermcode != ''">
			and
			(orderm.ORDERMCODE like '%${orderm.ordermcode}%' or
			orderm.ORDERMWAY like '%${orderm.ordermcode}%' or
			orderm.ORDERMSTATUE like '%${orderm.ordermcode}%' or
			orderm.ORDERMCONNECT like '%${orderm.ordermcode}%' or
			orderm.ORDERMPHONE like '%${orderm.ordermcode}%' or
			orderm.ORDERMADDRESS like '%${orderm.ordermcode}%' or
			orderm.UPDOR like '%${orderm.ordermcode}%' or
			orderm.ORDERMEMP like '%${orderm.ordermcode}%' or
			customer.customershop like '%${orderm.ordermcode}%')
		</if>
    order by orderm.ordermtime desc
  </select>
  <!-- 根据主键查询 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
	orderm.*,orderd.* 
	from orderm 
	left outer join orderd 
	on orderd.orderdorderm = orderm.ordermid
	where orderm.ordermid = #{ordermid,jdbcType=VARCHAR}
  </select>
  <!-- 根据主键删除 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ORDERM
    where ORDERMID = #{ordermid,jdbcType=VARCHAR}
  </delete>
  <!-- 选择性添加 -->
  <insert id="insertSelective" parameterType="com.server.pojo.entity.Orderm" >
    insert into ORDERM
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ordermid != null" >
        ORDERMID,
      </if>
      <if test="ordermcustomer != null" >
        ORDERMCUSTOMER,
      </if>
      <if test="ordermcompany != null" >
        ORDERMCOMPANY,
      </if>
      <if test="ordermcode != null" >
        ORDERMCODE,
      </if>
      <if test="ordermnum != null" >
        ORDERMNUM,
      </if>
      <if test="ordermmoney != null" >
        ORDERMMONEY,
      </if>
      <if test="ordermrightmoney != null" >
        ORDERMRIGHTMONEY,
      </if>
      <if test="ordermway != null" >
        ORDERMWAY,
      </if>
      <if test="ordermstatue != null" >
        ORDERMSTATUE,
      </if>
      <if test="ordermdetail != null" >
        ORDERMDETAIL,
      </if>
      <if test="ordermtime != null" >
        ORDERMTIME,
      </if>
      <if test="ordermconnect != null" >
        ORDERMCONNECT,
      </if>
      <if test="ordermphone != null" >
        ORDERMPHONE,
      </if>
      <if test="ordermaddress != null" >
        ORDERMADDRESS,
      </if>
      <if test="updtime != null" >
        UPDTIME,
      </if>
      <if test="updor != null" >
        UPDOR,
      </if>
      <if test="ordermemp != null" >
        ORDERMEMP,
      </if>
      <if test="ordermcusshop != null" >
        ORDERMCUSSHOP,
      </if>
      <if test="ordermcuslevel != null" >
        ORDERMCUSLEVEL,
      </if>
      <if test="ordermcustype != null" >
        ORDERMCUSTYPE,
      </if>
      <if test="ordermprinttimes != null" >
        ORDERMPRINTTIMES,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ordermid != null" >
        #{ordermid,jdbcType=VARCHAR},
      </if>
      <if test="ordermcustomer != null" >
        #{ordermcustomer,jdbcType=VARCHAR},
      </if>
      <if test="ordermcompany != null" >
        #{ordermcompany,jdbcType=VARCHAR},
      </if>
      <if test="ordermcode != null" >
        #{ordermcode,jdbcType=VARCHAR},
      </if>
      <if test="ordermnum != null" >
        #{ordermnum,jdbcType=DECIMAL},
      </if>
      <if test="ordermmoney != null" >
        #{ordermmoney,jdbcType=FLOAT},
      </if>
      <if test="ordermrightmoney != null" >
        #{ordermrightmoney,jdbcType=FLOAT},
      </if>
      <if test="ordermway != null" >
        #{ordermway,jdbcType=VARCHAR},
      </if>
      <if test="ordermstatue != null" >
        #{ordermstatue,jdbcType=VARCHAR},
      </if>
      <if test="ordermdetail != null" >
        #{ordermdetail,jdbcType=VARCHAR},
      </if>
      <if test="ordermtime != null" >
        #{ordermtime,jdbcType=VARCHAR},
      </if>
      <if test="ordermconnect != null" >
        #{ordermconnect,jdbcType=VARCHAR},
      </if>
      <if test="ordermphone != null" >
        #{ordermphone,jdbcType=VARCHAR},
      </if>
      <if test="ordermaddress != null" >
        #{ordermaddress,jdbcType=VARCHAR},
      </if>
      <if test="updtime != null" >
        #{updtime,jdbcType=VARCHAR},
      </if>
      <if test="updor != null" >
        #{updor,jdbcType=VARCHAR},
      </if>
      <if test="ordermemp != null" >
        #{ordermemp,jdbcType=VARCHAR},
      </if>
      <if test="ordermcusshop != null" >
        #{ordermcusshop,jdbcType=VARCHAR},
      </if>
      <if test="ordermcuslevel != null" >
        #{ordermcuslevel,jdbcType=VARCHAR},
      </if>
      <if test="ordermcustype != null" >
        #{ordermcustype,jdbcType=VARCHAR},
      </if>
      <if test="ordermprinttimes != null" >
        #{ordermprinttimes,jdbcType=VARCHAR},
      </if>
      
    </trim>
  </insert>
  <!-- 根据主键选择性修改 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.server.pojo.entity.Orderm" >
    update ORDERM
    <set >
      <if test="ordermcustomer != null" >
        ORDERMCUSTOMER = #{ordermcustomer,jdbcType=VARCHAR},
      </if>
      <if test="ordermcompany != null" >
        ORDERMCOMPANY = #{ordermcompany,jdbcType=VARCHAR},
      </if>
      <if test="ordermcode != null" >
        ORDERMCODE = #{ordermcode,jdbcType=VARCHAR},
      </if>
      <if test="ordermnum != null" >
        ORDERMNUM = #{ordermnum,jdbcType=DECIMAL},
      </if>
      <if test="ordermmoney != null" >
        ORDERMMONEY = #{ordermmoney,jdbcType=FLOAT},
      </if>
      <if test="ordermrightmoney != null" >
        ORDERMRIGHTMONEY = #{ordermrightmoney,jdbcType=FLOAT},
      </if>
      <if test="ordermway != null" >
        ORDERMWAY = #{ordermway,jdbcType=VARCHAR},
      </if>
      <if test="ordermstatue != null" >
        ORDERMSTATUE = #{ordermstatue,jdbcType=VARCHAR},
      </if>
      <if test="ordermdetail != null" >
        ORDERMDETAIL = #{ordermdetail,jdbcType=VARCHAR},
      </if>
      <if test="ordermtime != null" >
        ORDERMTIME = #{ordermtime,jdbcType=VARCHAR},
      </if>
      <if test="ordermconnect != null" >
        ORDERMCONNECT = #{ordermconnect,jdbcType=VARCHAR},
      </if>
      <if test="ordermphone != null" >
        ORDERMPHONE = #{ordermphone,jdbcType=VARCHAR},
      </if>
      <if test="ordermaddress != null" >
        ORDERMADDRESS = #{ordermaddress,jdbcType=VARCHAR},
      </if>
      <if test="updtime != null" >
        UPDTIME = #{updtime,jdbcType=VARCHAR},
      </if>
      <if test="updor != null" >
        UPDOR = #{updor,jdbcType=VARCHAR},
      </if>
      <if test="ordermemp != null" >
        ORDERMEMP = #{ordermemp,jdbcType=VARCHAR},
      </if>
      <if test="ordermcusshop != null" >
        ORDERMCUSSHOP = #{ordermcusshop,jdbcType=VARCHAR},
      </if>
      <if test="ordermcuslevel != null" >
        ORDERMCUSLEVEL = #{ordermcuslevel,jdbcType=VARCHAR},
      </if>
      <if test="ordermcustype != null" >
        ORDERMCUSTYPE = #{ordermcustype,jdbcType=VARCHAR},
      </if>
      <if test="ordermprinttimes != null" >
        ORDERMPRINTTIMES = #{ordermprinttimes,jdbcType=VARCHAR},
      </if>
    </set>
    where ORDERMID = #{ordermid,jdbcType=VARCHAR}
  </update>
</mapper>