<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.server.dao.mapper.OrdermMapper" >
  <resultMap id="BaseResultMap" type="com.server.pojo.entity.Orderm" >
    <id column="ORDERMID" property="ordermid" jdbcType="VARCHAR" />
    <result column="ORDERMCUSTOMER" property="ordermcustomer" jdbcType="VARCHAR" />
    <result column="ORDERMCOMPANY" property="ordermcompany" jdbcType="VARCHAR" />
    <result column="ORDERMCODE" property="ordermcode" jdbcType="VARCHAR" />
    <result column="ORDERMNUM" property="ordermnum" jdbcType="DECIMAL" />
    <result column="ORDERMMONEY" property="ordermmoney" jdbcType="FLOAT" />
    <result column="ORDERMRIGHTMONEY" property="ordermrightmoney" jdbcType="FLOAT" />
    <result column="ORDERMWAY" property="ordermway" jdbcType="VARCHAR" />
    <result column="ORDERMSTATUE" property="ordermstatue" jdbcType="VARCHAR" />
    <result column="ORDERMDETAIL" property="ordermdetail" jdbcType="VARCHAR" />
    <result column="ORDERMTIME" property="ordermtime" jdbcType="VARCHAR" />
    <result column="ORDERMCONNECT" property="ordermconnect" jdbcType="VARCHAR" />
    <result column="ORDERMPHONE" property="ordermphone" jdbcType="VARCHAR" />
    <result column="ORDERMADDRESS" property="ordermaddress" jdbcType="VARCHAR" />
    <result column="UPDTIME" property="updtime" jdbcType="VARCHAR" />
    <result column="UPDOR" property="updor" jdbcType="VARCHAR" />
    <result column="ORDERMEMP" property="ordermemp" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ORDERMID, ORDERMCUSTOMER, ORDERMCOMPANY, ORDERMCODE, ORDERMNUM, ORDERMMONEY, ORDERMRIGHTMONEY, 
    ORDERMWAY, ORDERMSTATUE, ORDERMDETAIL, ORDERMTIME, ORDERMCONNECT, ORDERMPHONE, ORDERMADDRESS, 
    UPDTIME, UPDOR, ORDERMEMP
  </sql>
  <!-- 根据供应商查询订单 -->
  <select id="selectByCompany" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ORDERM
    where ordermcompany = #{ordermcompany,jdbcType=VARCHAR}
  </select>
  <!-- 根据主键查询 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ORDERM
    where ORDERMID = #{ordermid,jdbcType=VARCHAR}
  </select>
  <!-- 根据主键删除 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ORDERM
    where ORDERMID = #{ordermid,jdbcType=VARCHAR}
  </delete>
  <!-- 选择性添加 -->
  <insert id="insertSelective" parameterType="com.server.pojo.entity.Orderm" >
    insert into ORDERM
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ordermid != null" >
        ORDERMID,
      </if>
      <if test="ordermcustomer != null" >
        ORDERMCUSTOMER,
      </if>
      <if test="ordermcompany != null" >
        ORDERMCOMPANY,
      </if>
      <if test="ordermcode != null" >
        ORDERMCODE,
      </if>
      <if test="ordermnum != null" >
        ORDERMNUM,
      </if>
      <if test="ordermmoney != null" >
        ORDERMMONEY,
      </if>
      <if test="ordermrightmoney != null" >
        ORDERMRIGHTMONEY,
      </if>
      <if test="ordermway != null" >
        ORDERMWAY,
      </if>
      <if test="ordermstatue != null" >
        ORDERMSTATUE,
      </if>
      <if test="ordermdetail != null" >
        ORDERMDETAIL,
      </if>
      <if test="ordermtime != null" >
        ORDERMTIME,
      </if>
      <if test="ordermconnect != null" >
        ORDERMCONNECT,
      </if>
      <if test="ordermphone != null" >
        ORDERMPHONE,
      </if>
      <if test="ordermaddress != null" >
        ORDERMADDRESS,
      </if>
      <if test="updtime != null" >
        UPDTIME,
      </if>
      <if test="updor != null" >
        UPDOR,
      </if>
      <if test="ordermemp != null" >
        ORDERMEMP,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ordermid != null" >
        #{ordermid,jdbcType=VARCHAR},
      </if>
      <if test="ordermcustomer != null" >
        #{ordermcustomer,jdbcType=VARCHAR},
      </if>
      <if test="ordermcompany != null" >
        #{ordermcompany,jdbcType=VARCHAR},
      </if>
      <if test="ordermcode != null" >
        #{ordermcode,jdbcType=VARCHAR},
      </if>
      <if test="ordermnum != null" >
        #{ordermnum,jdbcType=DECIMAL},
      </if>
      <if test="ordermmoney != null" >
        #{ordermmoney,jdbcType=FLOAT},
      </if>
      <if test="ordermrightmoney != null" >
        #{ordermrightmoney,jdbcType=FLOAT},
      </if>
      <if test="ordermway != null" >
        #{ordermway,jdbcType=VARCHAR},
      </if>
      <if test="ordermstatue != null" >
        #{ordermstatue,jdbcType=VARCHAR},
      </if>
      <if test="ordermdetail != null" >
        #{ordermdetail,jdbcType=VARCHAR},
      </if>
      <if test="ordermtime != null" >
        #{ordermtime,jdbcType=VARCHAR},
      </if>
      <if test="ordermconnect != null" >
        #{ordermconnect,jdbcType=VARCHAR},
      </if>
      <if test="ordermphone != null" >
        #{ordermphone,jdbcType=VARCHAR},
      </if>
      <if test="ordermaddress != null" >
        #{ordermaddress,jdbcType=VARCHAR},
      </if>
      <if test="updtime != null" >
        #{updtime,jdbcType=VARCHAR},
      </if>
      <if test="updor != null" >
        #{updor,jdbcType=VARCHAR},
      </if>
      <if test="ordermemp != null" >
        #{ordermemp,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <!-- 根据主键选择性修改 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.server.pojo.entity.Orderm" >
    update ORDERM
    <set >
      <if test="ordermcustomer != null" >
        ORDERMCUSTOMER = #{ordermcustomer,jdbcType=VARCHAR},
      </if>
      <if test="ordermcompany != null" >
        ORDERMCOMPANY = #{ordermcompany,jdbcType=VARCHAR},
      </if>
      <if test="ordermcode != null" >
        ORDERMCODE = #{ordermcode,jdbcType=VARCHAR},
      </if>
      <if test="ordermnum != null" >
        ORDERMNUM = #{ordermnum,jdbcType=DECIMAL},
      </if>
      <if test="ordermmoney != null" >
        ORDERMMONEY = #{ordermmoney,jdbcType=FLOAT},
      </if>
      <if test="ordermrightmoney != null" >
        ORDERMRIGHTMONEY = #{ordermrightmoney,jdbcType=FLOAT},
      </if>
      <if test="ordermway != null" >
        ORDERMWAY = #{ordermway,jdbcType=VARCHAR},
      </if>
      <if test="ordermstatue != null" >
        ORDERMSTATUE = #{ordermstatue,jdbcType=VARCHAR},
      </if>
      <if test="ordermdetail != null" >
        ORDERMDETAIL = #{ordermdetail,jdbcType=VARCHAR},
      </if>
      <if test="ordermtime != null" >
        ORDERMTIME = #{ordermtime,jdbcType=VARCHAR},
      </if>
      <if test="ordermconnect != null" >
        ORDERMCONNECT = #{ordermconnect,jdbcType=VARCHAR},
      </if>
      <if test="ordermphone != null" >
        ORDERMPHONE = #{ordermphone,jdbcType=VARCHAR},
      </if>
      <if test="ordermaddress != null" >
        ORDERMADDRESS = #{ordermaddress,jdbcType=VARCHAR},
      </if>
      <if test="updtime != null" >
        UPDTIME = #{updtime,jdbcType=VARCHAR},
      </if>
      <if test="updor != null" >
        UPDOR = #{updor,jdbcType=VARCHAR},
      </if>
      <if test="ordermemp != null" >
        ORDERMEMP = #{ordermemp,jdbcType=VARCHAR},
      </if>
    </set>
    where ORDERMID = #{ordermid,jdbcType=VARCHAR}
  </update>
</mapper>