<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.server.dao.mapper.OrderdMapper" >
  <resultMap id="BaseResultMap" type="com.server.pojo.entity.Orderd" >
    <id column="ORDERDID" property="orderdid" jdbcType="VARCHAR" />
    <result column="ORDERDORDERM" property="orderdorderm" jdbcType="VARCHAR" />
    <result column="ORDERDCODE" property="orderdcode" jdbcType="VARCHAR" />
    <result column="ORDERDTYPE" property="orderdtype" jdbcType="VARCHAR" />
    <result column="ORDERDNAME" property="orderdname" jdbcType="VARCHAR" />
    <result column="ORDERDDETAIL" property="orderddetail" jdbcType="VARCHAR" />
    <result column="ORDERDUNITS" property="orderdunits" jdbcType="VARCHAR" />
    <result column="ORDERDPRICE" property="orderdprice" jdbcType="FLOAT" />
    <result column="ORDERDUNIT" property="orderdunit" jdbcType="VARCHAR" />
    <result column="ORDERDCLASS" property="orderdclass" jdbcType="VARCHAR" />
    <result column="ORDERDNUM" property="orderdnum" jdbcType="DECIMAL" />
    <result column="ORDERDMONEY" property="orderdmoney" jdbcType="FLOAT" />
    <result column="ORDERDRIGHTMONEY" property="orderdrightmoney" jdbcType="FLOAT" />
    <result column="ORDERDWEIGHT" property="orderdweight" jdbcType="VARCHAR" />
    <result column="ORDERDGOODS" property="orderdgoods" jdbcType="VARCHAR" />
    <result column="ORDERDNOTE" property="orderdnote" jdbcType="VARCHAR" />
    <!-- 订单 -->
    <association property="orderm" javaType="com.server.pojo.entity.Orderm">
	    <id column="ORDERMID" property="ordermid" jdbcType="VARCHAR" />
	    <result column="ORDERMCUSTOMER" property="ordermcustomer" jdbcType="VARCHAR" />
	    <result column="ORDERMCOMPANY" property="ordermcompany" jdbcType="VARCHAR" />
	    <result column="ORDERMCODE" property="ordermcode" jdbcType="VARCHAR" />
	    <result column="ORDERMNUM" property="ordermnum" jdbcType="DECIMAL" />
	    <result column="ORDERMMONEY" property="ordermmoney" jdbcType="FLOAT" />
	    <result column="ORDERMRIGHTMONEY" property="ordermrightmoney" jdbcType="FLOAT" />
	    <result column="ORDERMWAY" property="ordermway" jdbcType="VARCHAR" />
	    <result column="ORDERMSTATUE" property="ordermstatue" jdbcType="VARCHAR" />
	    <result column="ORDERMDETAIL" property="ordermdetail" jdbcType="VARCHAR" />
	    <result column="ORDERMTIME" property="ordermtime" jdbcType="VARCHAR" />
	    <result column="ORDERMCONNECT" property="ordermconnect" jdbcType="VARCHAR" />
	    <result column="ORDERMPHONE" property="ordermphone" jdbcType="VARCHAR" />
	    <result column="ORDERMADDRESS" property="ordermaddress" jdbcType="VARCHAR" />
	    <result column="UPDTIME" property="updtime" jdbcType="VARCHAR" />
	    <result column="UPDOR" property="updor" jdbcType="VARCHAR" />
	    <result column="ORDERMEMP" property="ordermemp" jdbcType="VARCHAR" />
	    <result column="ORDERMCUSSHOP" property="ordermcusshop" jdbcType="VARCHAR" />
	    <result column="ORDERMCUSLEVEL" property="ordermcuslevel" jdbcType="VARCHAR" />
	    <result column="ORDERMCUSTYPE" property="ordermcustype" jdbcType="VARCHAR" />
    </association>
  </resultMap>
  <resultMap type="com.server.pojo.entity.Orderd" id="groupByOrderdcode">
  	<id column="ORDERDCODE" property="orderdcode" jdbcType="VARCHAR" />
  	<result column="ORDERDTYPE" property="orderdtype" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ORDERDID, ORDERDORDERM, ORDERDCODE, ORDERDTYPE, ORDERDNAME, ORDERDDETAIL, ORDERDUNITS, 
    ORDERDPRICE, ORDERDUNIT, ORDERDCLASS, ORDERDNUM, ORDERDMONEY, ORDERDRIGHTMONEY,ORDERDWEIGHT,
    ORDERDGOODS,ORDERDNOTE
  </sql>
  <!-- 查询几个订单中的重复的订单商品的:编号/类型/规格/价格 -->
  <select id="selectRepeatOrderd" resultType="com.server.pojo.entity.Orderd" >
  	select od.orderdcode,od.orderdtype,od.orderdunits,od.orderdprice from (select * from orderd where 
  	<foreach collection="ordermids" separator=" or " item="ordermid">
  		orderdorderm=#{ordermid}
  	</foreach>
 	) od 
 	group by od.orderdcode,od.orderdtype,od.orderdunits,od.orderdprice having count(*) >1
  </select>
  <!-- 查询一段时间内的订单商品的品牌 -->
  <select id="selectTimeOrderdGoodsBrand" resultType="String" >
  	select g.goodsbrand from orderd od
		left join orderm om on om.ordermid = od.orderdorderm
		left join goods g on g.goodsid = od.orderdgoods
	where om.ordermcompany = #{companyid} 
	and om.ordermtime &gt;= #{staTime} 
	and om.ordermtime &lt;= #{endTime} 
	and om.ordermstatue != '已删除'
	and g.goodsbrand is not null
	group by g.goodsbrand
  </select>
  <!-- 查询订单的订单详情 -->
  <select id="selectAllOrderd" resultMap="BaseResultMap" >
  <!-- select * from 
	  (select A.*, ROWNUM RN from ( -->
    select od.orderdid,od.orderdcode,od.orderdunits,om.ordermcompany from orderd od 
	left join orderm om on od.orderdorderm = om.ordermid
	where od.ORDERDTYPE='商品'
	and od.ORDERDGOODS is null
	and om.ordermcompany is not null
	<!-- ) A where ROWNUM  &lt;= (1*1000) ) 
	  where RN &gt; 0 -->
  </select>
  <!-- 查询订单的订单详情 -->
  <select id="selectByOrderm" resultMap="BaseResultMap" parameterType="String" >
    select * from orderd od where 
    <foreach collection="array" item="ordermid" separator=" or ">
    	ORDERDORDERM=#{ordermid}
    </foreach>
    order by orderdid desc
  </select>
  <!-- 查询热销商品订单(编码和类型) -->
  <select id="selectHotGoodsCodeAndType" resultMap="groupByOrderdcode" >
    select * from 
	  (select A.*, ROWNUM RN from (
	select
	sum(od.orderdnum) odgoodsnum,
	od.orderdcode,
	od.orderdtype
	from orderd od
	left join orderm om
	on om.ordermid = od.orderdorderm
	left join company cp
	on om.ordermcompany = cp.companyid
	left join city ct
	on ct.cityid = cp.companycity
	where om.ordermtime &gt;= #{staTime}
	and om.ordermtime &lt;= #{endTime}
	and ct.cityname = #{cityname}
	group by od.orderdcode,od.orderdtype
	order by odgoodsnum desc
	) A where ROWNUM  &lt;= (1*10) ) 
	  where RN &gt; ((1-1)*10)
  </select>
  <!-- 查询到客户的所有秒杀品的订单详情 -->
  <select id="selectOrderdByCustomerMiaosha" resultMap="BaseResultMap" parameterType="com.server.pojo.entity.Orderd" >
    select
	 d.*
	from orderd d
	left join orderm m
	on m.ordermid = d.orderdorderm
	where d.orderdtype = #{orderd.orderdtype}
	and m.ordermcustomer = #{orderd.orderm.ordermcustomer}
	and m.ORDERMTIME &gt;= #{staTime}
	and m.ORDERMTIME &lt;= #{endTime}
  </select>
  <!-- 根据时间范围(多条件)查询订单(分页) -->
  <select id="selectByPage" resultMap="BaseResultMap" >
  	select * from 
	(select A.*, ROWNUM RN from (
  	select
		od.*,
		om.ordermid,
		om.ordermtime
	from orderd od
	left join orderm om on od.orderdorderm = om.ordermid
  	left join customer c on c.customerid = om.ordermcustomer
  	left join ccustomer cc on cc.ccustomercustomer = om.ordermcustomer
  	left join goods g on od.orderdgoods = g.goodsid
	where om.ordermcompany = #{companyid,jdbcType=VARCHAR}
	and cc.ccustomercompany = #{companyid,jdbcType=VARCHAR}
	and om.ordermstatue != '已删除'
	<if test="cusNames != null and cusNames !=''">
		and 
		<foreach collection="cusNames" open="(" close=")" separator="or" item="cusName">
			c.customershop=#{cusName}
		</foreach>
	</if>
	<if test="empNames != null and empNames !=''">
		and 
		<foreach collection="empNames" open="(" close=")" separator="or" item="empName">
			cc.createtime=#{empName}
		</foreach>
	</if>
	<if test="brandNames != null and brandNames !=''">
		and 
		<foreach collection="brandNames" open="(" close=")" separator="or" item="brandName">
			g.goodsbrand=#{brandName}
		</foreach>
	</if>
	<if test="staTime != null and staTime != ''">
		and om.ordermtime &gt;= #{staTime}
	</if>
	<if test="endTime != null and endTime != ''">
		and om.ordermtime &lt;= #{endTime}
	</if>
	<if test="condition != null and condition != ''">
		and 
		(od.orderdcode like '%${condition}%' or
		od.orderdname like '%${condition}%' or
		od.orderdunits like '%${condition}%' or
		od.orderdunit like '%${condition}%' or
		od.orderdnum like '%${condition}%' or
		od.orderdprice like '%${condition}%' or
		od.orderdmoney like '%${condition}%' or
		od.orderdrightmoney like '%${condition}%')
	</if>
	order by om.ordermtime desc
	 ) A where ROWNUM  &lt;= (#{nowpage}*#{pagesize}) ) 
	where RN &gt; ((#{nowpage}-1)*#{pagesize})
  </select>
  <!-- 根据时间范围(多条件)查询订单(数量) -->
  <select id="selectByTimeCount" resultType="int" >
  	select
		count(*) 
	from orderd od
	left join orderm om on od.orderdorderm = om.ordermid
  	left join customer c on c.customerid = om.ordermcustomer
  	left join ccustomer cc on cc.ccustomercustomer = c.customerid
  	left join goods g on od.orderdgoods = g.goodsid
	where om.ordermcompany = #{companyid,jdbcType=VARCHAR}
	and cc.ccustomercompany = #{companyid,jdbcType=VARCHAR}
	and om.ordermstatue != '已删除'
	<if test="cusNames != null and cusNames !=''">
		and 
		<foreach collection="cusNames" open="(" close=")" separator="or" item="cusName">
			c.customershop=#{cusName}
		</foreach>
	</if>
	<if test="empNames != null and empNames !=''">
		and 
		<foreach collection="empNames" open="(" close=")" separator="or" item="empName">
			cc.createtime=#{empName}
		</foreach>
	</if>
	<if test="brandNames != null and brandNames !=''">
		and 
		<foreach collection="brandNames" open="(" close=")" separator="or" item="brandName">
			g.goodsbrand=#{brandName}
		</foreach>
	</if>
	<if test="staTime != null and staTime != ''">
		and om.ordermtime &gt;= #{staTime}
	</if>
	<if test="endTime != null and endTime != ''">
		and om.ordermtime &lt;= #{endTime}
	</if>
	<if test="condition != null and condition != ''">
		and 
		(od.orderdcode like '%${condition}%' or
		od.orderdname like '%${condition}%' or
		od.orderdunits like '%${condition}%' or
		od.orderdunit like '%${condition}%' or
		od.orderdnum like '%${condition}%' or
		od.orderdprice like '%${condition}%' or
		od.orderdmoney like '%${condition}%' or
		od.orderdrightmoney like '%${condition}%')
	</if>
  </select>
  <!-- 条件查询统计 -->
  <select id="selectOrderdStatistics" resultType="com.server.pojo.entity.OrderdStatistics" >
  	select
		sum(od.orderdnum) as numtotal,
    sum(od.orderdmoney) as moneytotal,
    sum(od.orderdrightmoney) as rightmoneytotal,
    sum(od.orderdweight) as weighttotal
	from orderd od
	left join orderm om on od.orderdorderm = om.ordermid
  	left join customer c on c.customerid = om.ordermcustomer
  	left join ccustomer cc on cc.ccustomercustomer = om.ordermcustomer
  	left join goods g on od.orderdgoods = g.goodsid
	where om.ordermcompany = '1'
	and cc.ccustomercompany = '1'
	and om.ordermstatue != '已删除'
	<if test="cusNames != null and cusNames !=''">
		and 
		<foreach collection="cusNames" open="(" close=")" separator="or" item="cusName">
			c.customershop=#{cusName}
		</foreach>
	</if>
	<if test="empNames != null and empNames !=''">
		and 
		<foreach collection="empNames" open="(" close=")" separator="or" item="empName">
			cc.createtime=#{empName}
		</foreach>
	</if>
	<if test="brandNames != null and brandNames !=''">
		and 
		<foreach collection="brandNames" open="(" close=")" separator="or" item="brandName">
			g.goodsbrand=#{brandName}
		</foreach>
	</if>
	<if test="staTime != null and staTime != ''">
		and om.ordermtime &gt;= #{staTime}
	</if>
	<if test="endTime != null and endTime != ''">
		and om.ordermtime &lt;= #{endTime}
	</if>
	<if test="condition != null and condition != ''">
		and 
		(od.orderdcode like '%${condition}%' or
		od.orderdname like '%${condition}%' or
		od.orderdunits like '%${condition}%' or
		od.orderdunit like '%${condition}%' or
		od.orderdnum like '%${condition}%' or
		od.orderdprice like '%${condition}%' or
		od.orderdmoney like '%${condition}%' or
		od.orderdrightmoney like '%${condition}%')
	</if>
  </select>
  <!-- 根据时间范围(多条件)查询订单 -->
  <select id="selectByTime" resultMap="BaseResultMap" >
  	select
		od.*,
		om.ordermid,
		om.ordermtime
	from orderd od
	left join orderm om on od.orderdorderm = om.ordermid
  	left join customer c on c.customerid = om.ordermcustomer
  	left join ccustomer cc on cc.ccustomercustomer = c.customerid
  	left join goods g on od.orderdgoods = g.goodsid
	where om.ordermcompany = #{companyid,jdbcType=VARCHAR}
	and om.ordermstatue != '已删除'
	<if test="cusNames != null and cusNames !=''">
		and 
		<foreach collection="cusNames" open="(" close=")" separator="or" item="cusName">
			c.customershop=#{cusName}
		</foreach>
	</if>
	<if test="empNames != null and empNames !=''">
		and 
		<foreach collection="empNames" open="(" close=")" separator="or" item="empName">
			cc.createtime=#{empName}
		</foreach>
	</if>
	<if test="brandNames != null and brandNames !=''">
		and 
		<foreach collection="brandNames" open="(" close=")" separator="or" item="brandName">
			g.goodsbrand=#{brandName}
		</foreach>
	</if>
	<if test="staTime != null and staTime != ''">
		and om.ordermtime &gt;= #{staTime}
	</if>
	<if test="endTime != null and endTime != ''">
		and om.ordermtime &lt;= #{endTime}
	</if>
	<if test="condition != null and condition != ''">
		and 
		(od.orderdcode like '%${condition}%' or
		od.orderdname like '%${condition}%' or
		od.orderdunits like '%${condition}%' or
		od.orderdunit like '%${condition}%' or
		od.orderdnum like '%${condition}%' or
		od.orderdprice like '%${condition}%' or
		od.orderdmoney like '%${condition}%' or
		od.orderdrightmoney like '%${condition}%')
	</if>
	order by om.ordermtime desc
  </select>
  <!-- 根据主键查询 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    *
    from ORDERD
    where ORDERDID = #{orderdid,jdbcType=VARCHAR}
  </select>
  <!-- 根据主键删除 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ORDERD
    where ORDERDID = #{orderdid,jdbcType=VARCHAR}
  </delete>
  <!-- 选择性添加 -->
  <insert id="insertSelective" parameterType="com.server.pojo.entity.Orderd" >
    insert into ORDERD
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderdid != null" >
        ORDERDID,
      </if>
      <if test="orderdorderm != null" >
        ORDERDORDERM,
      </if>
      <if test="orderdcode != null" >
        ORDERDCODE,
      </if>
      <if test="orderdtype != null" >
        ORDERDTYPE,
      </if>
      <if test="orderdname != null" >
        ORDERDNAME,
      </if>
      <if test="orderddetail != null" >
        ORDERDDETAIL,
      </if>
      <if test="orderdunits != null" >
        ORDERDUNITS,
      </if>
      <if test="orderdprice != null" >
        ORDERDPRICE,
      </if>
      <if test="orderdunit != null" >
        ORDERDUNIT,
      </if>
      <if test="orderdclass != null" >
        ORDERDCLASS,
      </if>
      <if test="orderdnum != null" >
        ORDERDNUM,
      </if>
      <if test="orderdmoney != null" >
        ORDERDMONEY,
      </if>
      <if test="orderdrightmoney != null" >
        ORDERDRIGHTMONEY,
      </if>
      <if test="orderdweight != null" >
        ORDERDWEIGHT,
      </if>
      <if test="orderdgoods != null" >
        ORDERDGOODS,
      </if>
      <if test="orderdnote != null" >
        ORDERDNOTE,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderdid != null" >
        #{orderdid,jdbcType=VARCHAR},
      </if>
      <if test="orderdorderm != null" >
        #{orderdorderm,jdbcType=VARCHAR},
      </if>
      <if test="orderdcode != null" >
        #{orderdcode,jdbcType=VARCHAR},
      </if>
      <if test="orderdtype != null" >
        #{orderdtype,jdbcType=VARCHAR},
      </if>
      <if test="orderdname != null" >
        #{orderdname,jdbcType=VARCHAR},
      </if>
      <if test="orderddetail != null" >
        #{orderddetail,jdbcType=VARCHAR},
      </if>
      <if test="orderdunits != null" >
        #{orderdunits,jdbcType=VARCHAR},
      </if>
      <if test="orderdprice != null" >
        #{orderdprice,jdbcType=FLOAT},
      </if>
      <if test="orderdunit != null" >
        #{orderdunit,jdbcType=VARCHAR},
      </if>
      <if test="orderdclass != null" >
        #{orderdclass,jdbcType=VARCHAR},
      </if>
      <if test="orderdnum != null" >
        #{orderdnum,jdbcType=DECIMAL},
      </if>
      <if test="orderdmoney != null" >
        #{orderdmoney,jdbcType=FLOAT},
      </if>
      <if test="orderdrightmoney != null" >
        #{orderdrightmoney,jdbcType=FLOAT},
      </if>
      <if test="orderdweight != null" >
        #{orderdweight,jdbcType=FLOAT},
      </if>
      <if test="orderdgoods != null" >
        #{orderdgoods,jdbcType=FLOAT},
      </if>
      <if test="orderdnote != null" >
        #{orderdnote,jdbcType=FLOAT},
      </if>
      
    </trim>
  </insert>
  <!-- 根据主键选择性修改 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.server.pojo.entity.Orderd" >
    update ORDERD
    <set >
      <if test="orderdorderm != null" >
        ORDERDORDERM = #{orderdorderm,jdbcType=VARCHAR},
      </if>
      <if test="orderdcode != null" >
        ORDERDCODE = #{orderdcode,jdbcType=VARCHAR},
      </if>
      <if test="orderdtype != null" >
        ORDERDTYPE = #{orderdtype,jdbcType=VARCHAR},
      </if>
      <if test="orderdname != null" >
        ORDERDNAME = #{orderdname,jdbcType=VARCHAR},
      </if>
      <if test="orderddetail != null" >
        ORDERDDETAIL = #{orderddetail,jdbcType=VARCHAR},
      </if>
      <if test="orderdunits != null" >
        ORDERDUNITS = #{orderdunits,jdbcType=VARCHAR},
      </if>
      <if test="orderdprice != null" >
        ORDERDPRICE = #{orderdprice,jdbcType=FLOAT},
      </if>
      <if test="orderdunit != null" >
        ORDERDUNIT = #{orderdunit,jdbcType=VARCHAR},
      </if>
      <if test="orderdclass != null" >
        ORDERDCLASS = #{orderdclass,jdbcType=VARCHAR},
      </if>
      <if test="orderdnum != null" >
        ORDERDNUM = #{orderdnum,jdbcType=DECIMAL},
      </if>
      <if test="orderdmoney != null" >
        ORDERDMONEY = #{orderdmoney,jdbcType=FLOAT},
      </if>
      <if test="orderdrightmoney != null" >
        ORDERDRIGHTMONEY = #{orderdrightmoney,jdbcType=FLOAT},
      </if>
      <if test="orderdweight != null" >
        ORDERDWEIGHT = #{orderdweight,jdbcType=FLOAT},
      </if>
      <if test="orderdgoods != null" >
        ORDERDGOODS = #{orderdgoods,jdbcType=FLOAT},
      </if>
      <if test="orderdnote != null" >
        ORDERDNOTE = #{orderdnote,jdbcType=FLOAT},
      </if>
    </set>
    where ORDERDID = #{orderdid,jdbcType=VARCHAR}
  </update>
</mapper>