<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.server.dao.mapper.ScantMapper" >
  <resultMap id="BaseResultMap" type="com.server.pojo.entity.Scant" >
    <id column="SCANTID" property="scantid" jdbcType="VARCHAR" />
    <result column="SCANTCODE" property="scantcode" jdbcType="VARCHAR" />
    <result column="SCANTNAME" property="scantname" jdbcType="VARCHAR" />
    <result column="SCANTDETAIL" property="scantdetail" jdbcType="VARCHAR" />
    <result column="SCANTUNITS" property="scantunits" jdbcType="VARCHAR" />
    <result column="SCANTCLASS" property="scantclass" jdbcType="VARCHAR" />
    <result column="SCANTIMAGE" property="scantimage" jdbcType="VARCHAR" />
    <result column="SCANTBRAND" property="scantbrand" jdbcType="VARCHAR" />
    <result column="SCANTTYPE" property="scanttype" jdbcType="VARCHAR" />
    <result column="SCANTSTATUE" property="scantstatue" jdbcType="VARCHAR" />
    <association property="goodsclass" javaType="com.server.pojo.entity.Goodsclass">
    	<id column="GOODSCLASSID" property="goodsclassid" jdbcType="VARCHAR" />
	    <result column="GOODSCLASSCODE" property="goodsclasscode" jdbcType="VARCHAR" />
	    <result column="GOODSCLASSNAME" property="goodsclassname" jdbcType="VARCHAR" />
	    <result column="GOODSCLASSPARENT" property="goodsclassparent" jdbcType="VARCHAR" />
	    <result column="GOODSCLASSDETAIL" property="goodsclassdetail" jdbcType="VARCHAR" />
	    <result column="GOODSCLASSSTATUE" property="goodsclassstatue" jdbcType="VARCHAR" />
    </association>
  </resultMap>
  <!-- 查询全部 Scant和小类名称(信息条数)-->
  <select id="selectAllScantNum" resultType="int">
    select 
    COUNT(*) 
    from SCANT
    left join goodsclass
    on scant.scantclass = goodsclass.goodsclassid
    <where>
	    <if test="scantcondition != null and scantcondition != ''">
	    	and (
	    		SCANT.SCANTCODE like '%${scantcondition}%' or
	    		SCANT.SCANTNAME like '%${scantcondition}%' or
	    		SCANT.SCANTDETAIL like '%${scantcondition}%' or
	    		SCANT.SCANTUNITS like '%${scantcondition}%' or
	    		goodsclass.GOODSCLASSNAME like '%${scantcondition}%'
	    	)
	    </if>
    </where>
  </select>
  <!-- 查询全部 Scant和小类名称-->
  <select id="selectAllScant" resultMap="BaseResultMap">
  	select * from 
	(select A.*, ROWNUM RN from (
    select 
    SCANT.*,
    goodsclass.goodsclassid,
    goodsclass.goodsclassname
    from SCANT
    left join goodsclass
    on scant.scantclass = goodsclass.goodsclassid
    <where>
	    <if test="scantcondition != null and scantcondition != ''">
	    	and (
	    		SCANT.SCANTCODE like '%${scantcondition}%' or
	    		SCANT.SCANTNAME like '%${scantcondition}%' or
	    		SCANT.SCANTDETAIL like '%${scantcondition}%' or
	    		SCANT.SCANTUNITS like '%${scantcondition}%' or
	    		goodsclass.GOODSCLASSNAME like '%${scantcondition}%'
	    	)
	    </if>
    </where>
     ) A where ROWNUM  &lt;= (#{nowpage}*#{pagesize}) ) 
	where RN &gt; ((#{nowpage}-1)*#{pagesize})
  </select>
  <!-- 根据主键查询 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    *
    from SCANT
    where SCANTID = #{scantid,jdbcType=VARCHAR}
  </select>
  <!-- 根据主键删除 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from SCANT
    where SCANTID = #{scantid,jdbcType=VARCHAR}
  </delete>
  <!-- 选择性添加 -->
  <insert id="insertSelective" parameterType="com.server.pojo.entity.Scant" >
    insert into SCANT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="scantid != null" >
        SCANTID,
      </if>
      <if test="scantcode != null" >
        SCANTCODE,
      </if>
      <if test="scantname != null" >
        SCANTNAME,
      </if>
      <if test="scantdetail != null" >
        SCANTDETAIL,
      </if>
      <if test="scantunits != null" >
        SCANTUNITS,
      </if>
      <if test="scantclass != null" >
        SCANTCLASS,
      </if>
      <if test="scantimage != null" >
        SCANTIMAGE,
      </if>
      <if test="scantstatue != null" >
        SCANTSTATUE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="scantid != null" >
        #{scantid,jdbcType=VARCHAR},
      </if>
      <if test="scantcode != null" >
        #{scantcode,jdbcType=VARCHAR},
      </if>
      <if test="scantname != null" >
        #{scantname,jdbcType=VARCHAR},
      </if>
      <if test="scantdetail != null" >
        #{scantdetail,jdbcType=VARCHAR},
      </if>
      <if test="scantunits != null" >
        #{scantunits,jdbcType=VARCHAR},
      </if>
      <if test="scantclass != null" >
        #{scantclass,jdbcType=VARCHAR},
      </if>
      <if test="scantimage != null" >
        #{scantimage,jdbcType=VARCHAR},
      </if>
      <if test="scantstatue != null" >
        #{scantstatue,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <!-- 根据主键选择性修改 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.server.pojo.entity.Scant" >
    update SCANT
    <set >
      <if test="scantcode != null" >
        SCANTCODE = #{scantcode,jdbcType=VARCHAR},
      </if>
      <if test="scantname != null" >
        SCANTNAME = #{scantname,jdbcType=VARCHAR},
      </if>
      <if test="scantdetail != null" >
        SCANTDETAIL = #{scantdetail,jdbcType=VARCHAR},
      </if>
      <if test="scantunits != null" >
        SCANTUNITS = #{scantunits,jdbcType=VARCHAR},
      </if>
      <if test="scantclass != null" >
        SCANTCLASS = #{scantclass,jdbcType=VARCHAR},
      </if>
      <if test="scantimage != null" >
        SCANTIMAGE = #{scantimage,jdbcType=VARCHAR},
      </if>
      <if test="scantstatue != null" >
        SCANTSTATUE = #{scantstatue,jdbcType=VARCHAR},
      </if>
    </set>
    where SCANTID = #{scantid,jdbcType=VARCHAR}
  </update>
</mapper>