<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.server.dao.mapper.TimegoodsMapper" >
  <resultMap id="BaseResultMap" type="com.server.pojo.entity.Timegoods" >
    <id column="TIMEGOODSID" property="timegoodsid" jdbcType="VARCHAR" />
    <result column="TIMEGOODSCOMPANY" property="timegoodscompany" jdbcType="VARCHAR" />
    <result column="TIMEGOODSCODE" property="timegoodscode" jdbcType="VARCHAR" />
    <result column="TIMEGOODSNAME" property="timegoodsname" jdbcType="VARCHAR" />
    <result column="TIMEGOODSDETAIL" property="timegoodsdetail" jdbcType="VARCHAR" />
    <result column="TIMEGOODSUNITS" property="timegoodsunits" jdbcType="VARCHAR" />
    <result column="TIMEGOODSUNIT" property="timegoodsunit" jdbcType="VARCHAR" />
    <result column="TIMEGOODSPRICE" property="timegoodsprice" jdbcType="FLOAT" />
    <result column="TIMEGOODSORGPRICE" property="timegoodsorgprice" jdbcType="FLOAT" />
    <result column="TIMEGOODSNUM" property="timegoodsnum" jdbcType="DECIMAL" />
    <result column="TIMEGOODSCLASS" property="timegoodsclass" jdbcType="VARCHAR" />
    <result column="TIMEGOODSIMAGE" property="timegoodsimage" jdbcType="VARCHAR" />
    <result column="TIMEGOODSSTATUE" property="timegoodsstatue" jdbcType="VARCHAR" />
    <result column="CREATETIME" property="createtime" jdbcType="VARCHAR" />
    <result column="CREATOR" property="creator" jdbcType="VARCHAR" />
    <result column="ALLNUM" property="allnum" jdbcType="DECIMAL" />
    <result column="SURPLUSNUM" property="surplusnum" jdbcType="DECIMAL" />
    <result column="TIMEGOODSSEQ" property="timegoodsseq" jdbcType="DECIMAL" />
    <result column="TIMEGOODSSCOPE" property="timegoodsscope" jdbcType="VARCHAR" />
    <!-- 小类 -->
    <association property="timeGoodsClass" javaType="com.server.pojo.entity.Goodsclass">
		<id column="GOODSCLASSID" property="goodsclassid" jdbcType="VARCHAR" />
	    <result column="GOODSCLASSCODE" property="goodsclasscode" jdbcType="VARCHAR" />
	    <result column="GOODSCLASSNAME" property="goodsclassname" jdbcType="VARCHAR" />
	    <result column="GOODSCLASSPARENT" property="goodsclassparent" jdbcType="VARCHAR" />
	    <result column="GOODSCLASSDETAIL" property="goodsclassdetail" jdbcType="VARCHAR" />
	    <result column="GOODSCLASSSTATUE" property="goodsclassstatue" jdbcType="VARCHAR" />    
    </association>
  </resultMap>
  <sql id="Base_Column_List" >
    TIMEGOODSID, TIMEGOODSCOMPANY, TIMEGOODSCODE, TIMEGOODSNAME, TIMEGOODSDETAIL, TIMEGOODSUNITS, 
    TIMEGOODSUNIT, TIMEGOODSPRICE, TIMEGOODSORGPRICE, TIMEGOODSNUM, TIMEGOODSCLASS, TIMEGOODSIMAGE, 
    TIMEGOODSSTATUE, CREATETIME, CREATOR, ALLNUM, SURPLUSNUM, TIMEGOODSSEQ, TIMEGOODSSCOPE
  </sql>
  <!-- 根据编码和规格和经销商查询 -->
  <select id="selectComRepeatGoods" resultType="int" >
    select count(*) from TIMEGOODS
    where TIMEGOODSCODE = #{timegoodscode,jdbcType=VARCHAR} 
    and TIMEGOODSCOMPANY=#{comid} 
    and TIMEGOODSUNITS=#{timegoodsunits}
  </select>
  <!-- 根据编码查询 -->
  <select id="selectByCode" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from TIMEGOODS
    where TIMEGOODSCODE = #{timegoodscode,jdbcType=VARCHAR}
  </select>
  <!-- 根据条件查询(数量) -->
  <select id="selectByConditionCount" resultType="int" parameterType="com.server.pojo.entity.Timegoods" >
    select 
    	count(*) 
    from timegoods tg
    where timegoodscompany = #{timegoodscompany}
    <if test="timegoodscode != null and timegoodscode != ''">
			and
			(tg.TIMEGOODSCODE like '%${timegoodscode}%' or
			tg.TIMEGOODSNAME like '%${timegoodscode}%' or
			tg.TIMEGOODSDETAIL like '%${timegoodscode}%' or
			tg.TIMEGOODSUNITS like '%${timegoodscode}%' or
			tg.TIMEGOODSSTATUE like '%${timegoodscode}%')
	</if>
	<if test="timegoodsscope != null and timegoodsscope != ''">
		and tg.TIMEGOODSSCOPE like '%${timegoodsscope}%'
	</if>
  </select>
  <!-- 根据条件查询 -->
  <select id="selectByCondition" resultMap="BaseResultMap">
  select * from 
	(select A.*, ROWNUM RN from (
    select 
    *
    from timegoods tg
    where timegoodscompany = #{timegoods.timegoodscompany}
    <if test="timegoods.timegoodscode != null and timegoods.timegoodscode != ''">
			and
			(tg.TIMEGOODSCODE like '%${timegoods.timegoodscode}%' or
			tg.TIMEGOODSNAME like '%${timegoods.timegoodscode}%' or
			tg.TIMEGOODSDETAIL like '%${timegoods.timegoodscode}%' or
			tg.TIMEGOODSUNITS like '%${timegoods.timegoodscode}%' or
			tg.TIMEGOODSSTATUE like '%${timegoods.timegoodscode}%')
	</if>
	<if test="timegoods.timegoodsscope != null and timegoods.timegoodsscope != ''">
		and tg.TIMEGOODSSCOPE like '%${timegoods.timegoodsscope}%'
	</if>
	order by timegoodsid desc
    ) A where ROWNUM  &lt;= (#{nowpage}*#{pagesize}) ) 
		where RN &gt; ((#{nowpage}-1)*#{pagesize})
  </select>
  <!-- 根据主键查询 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from TIMEGOODS
    where TIMEGOODSID = #{timegoodsid,jdbcType=VARCHAR}
  </select>
  <!-- 根据主键删除 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from TIMEGOODS
    where TIMEGOODSID = #{timegoodsid,jdbcType=VARCHAR}
  </delete>
  <!-- 选择性添加 -->
  <insert id="insertSelective" parameterType="com.server.pojo.entity.Timegoods" >
    insert into TIMEGOODS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="timegoodsid != null" >
        TIMEGOODSID,
      </if>
      <if test="timegoodscompany != null" >
        TIMEGOODSCOMPANY,
      </if>
      <if test="timegoodscode != null" >
        TIMEGOODSCODE,
      </if>
      <if test="timegoodsname != null" >
        TIMEGOODSNAME,
      </if>
      <if test="timegoodsdetail != null" >
        TIMEGOODSDETAIL,
      </if>
      <if test="timegoodsunits != null" >
        TIMEGOODSUNITS,
      </if>
      <if test="timegoodsunit != null" >
        TIMEGOODSUNIT,
      </if>
      <if test="timegoodsprice != null" >
        TIMEGOODSPRICE,
      </if>
      <if test="timegoodsorgprice != null" >
        TIMEGOODSORGPRICE,
      </if>
      <if test="timegoodsnum != null" >
        TIMEGOODSNUM,
      </if>
      <if test="timegoodsclass != null" >
        TIMEGOODSCLASS,
      </if>
      <if test="timegoodsimage != null" >
        TIMEGOODSIMAGE,
      </if>
      <if test="timegoodsstatue != null" >
        TIMEGOODSSTATUE,
      </if>
      <if test="createtime != null" >
        CREATETIME,
      </if>
      <if test="creator != null" >
        CREATOR,
      </if>
      <if test="allnum != null" >
        ALLNUM,
      </if>
      <if test="surplusnum != null" >
        SURPLUSNUM,
      </if>
      <if test="timegoodsseq != null" >
        TIMEGOODSSEQ,
      </if>
      <if test="timegoodsscope != null" >
        TIMEGOODSSCOPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="timegoodsid != null" >
        #{timegoodsid,jdbcType=VARCHAR},
      </if>
      <if test="timegoodscompany != null" >
        #{timegoodscompany,jdbcType=VARCHAR},
      </if>
      <if test="timegoodscode != null" >
        #{timegoodscode,jdbcType=VARCHAR},
      </if>
      <if test="timegoodsname != null" >
        #{timegoodsname,jdbcType=VARCHAR},
      </if>
      <if test="timegoodsdetail != null" >
        #{timegoodsdetail,jdbcType=VARCHAR},
      </if>
      <if test="timegoodsunits != null" >
        #{timegoodsunits,jdbcType=VARCHAR},
      </if>
      <if test="timegoodsunit != null" >
        #{timegoodsunit,jdbcType=VARCHAR},
      </if>
      <if test="timegoodsprice != null" >
        #{timegoodsprice,jdbcType=FLOAT},
      </if>
      <if test="timegoodsorgprice != null" >
        #{timegoodsorgprice,jdbcType=FLOAT},
      </if>
      <if test="timegoodsnum != null" >
        #{timegoodsnum,jdbcType=DECIMAL},
      </if>
      <if test="timegoodsclass != null" >
        #{timegoodsclass,jdbcType=VARCHAR},
      </if>
      <if test="timegoodsimage != null" >
        #{timegoodsimage,jdbcType=VARCHAR},
      </if>
      <if test="timegoodsstatue != null" >
        #{timegoodsstatue,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="allnum != null" >
        #{allnum,jdbcType=DECIMAL},
      </if>
      <if test="surplusnum != null" >
        #{surplusnum,jdbcType=DECIMAL},
      </if>
      <if test="timegoodsseq != null" >
        #{timegoodsseq,jdbcType=DECIMAL},
      </if>
      <if test="timegoodsscope != null" >
        #{timegoodsscope,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <!-- 根据主键选择性修改 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.server.pojo.entity.Timegoods" >
    update TIMEGOODS
    <set >
      <if test="timegoodscompany != null" >
        TIMEGOODSCOMPANY = #{timegoodscompany,jdbcType=VARCHAR},
      </if>
      <if test="timegoodscode != null" >
        TIMEGOODSCODE = #{timegoodscode,jdbcType=VARCHAR},
      </if>
      <if test="timegoodsname != null" >
        TIMEGOODSNAME = #{timegoodsname,jdbcType=VARCHAR},
      </if>
      <if test="timegoodsdetail != null" >
        TIMEGOODSDETAIL = #{timegoodsdetail,jdbcType=VARCHAR},
      </if>
      <if test="timegoodsunits != null" >
        TIMEGOODSUNITS = #{timegoodsunits,jdbcType=VARCHAR},
      </if>
      <if test="timegoodsunit != null" >
        TIMEGOODSUNIT = #{timegoodsunit,jdbcType=VARCHAR},
      </if>
      <if test="timegoodsprice != null" >
        TIMEGOODSPRICE = #{timegoodsprice,jdbcType=FLOAT},
      </if>
      <if test="timegoodsorgprice != null" >
        TIMEGOODSORGPRICE = #{timegoodsorgprice,jdbcType=FLOAT},
      </if>
      <if test="timegoodsnum != null" >
        TIMEGOODSNUM = #{timegoodsnum,jdbcType=DECIMAL},
      </if>
      <if test="timegoodsclass != null" >
        TIMEGOODSCLASS = #{timegoodsclass,jdbcType=VARCHAR},
      </if>
      <if test="timegoodsimage != null" >
        TIMEGOODSIMAGE = #{timegoodsimage,jdbcType=VARCHAR},
      </if>
      <if test="timegoodsstatue != null" >
        TIMEGOODSSTATUE = #{timegoodsstatue,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        CREATETIME = #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        CREATOR = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="allnum != null" >
        ALLNUM = #{allnum,jdbcType=DECIMAL},
      </if>
      <if test="surplusnum != null" >
        SURPLUSNUM = #{surplusnum,jdbcType=DECIMAL},
      </if>
      <if test="timegoodsseq != null" >
        TIMEGOODSSEQ = #{timegoodsseq,jdbcType=DECIMAL},
      </if>
      <if test="timegoodsscope != null" >
        TIMEGOODSSCOPE = #{timegoodsscope,jdbcType=VARCHAR},
      </if>
    </set>
    where TIMEGOODSID = #{timegoodsid,jdbcType=VARCHAR}
  </update>
</mapper>