@CHARSET "UTF-8";
body {
    margin: 0px auto;
    padding:0px;
    font-family: 'trebuchet MS', 'Lucida sans', Arial;
    color: #444;
    font-size: 12px;
    /*参数分别是 阴影类型 水平位移 垂直位移 模糊半径 颜色*/
     -moz-box-shadow:inset 2px 1px 4px #A0A0A0;
    -webkit-box-shadow: inset 2px 1px 4px #A0A0A0;
    box-shadow: inset 2px 1px 4px #A0A0A0;
    height: 100%;
}

table {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
}

.bordered {
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc; 
    -moz-box-shadow: 0 1px 1px #ccc; 
    box-shadow: 0 1px 1px #ccc;         
    margin: 6px 0px 0px 6px;
    white-space:nowrap;
}
.bordered tr{
	background-color: white;
}
.bordered tr:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}    
    
.bordered td, .bordered th {
	font-size:13px;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    text-align: center;    
    padding: 7px 3px 7px 3px;
}

.bordered th {
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
    border-top: none;
}

.bordered td:first-child, .bordered th:first-child {
    border-left: none;
}

.bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.bordered th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 6px;
}
.bordered td a{
	text-decoration:none;
	color: blue;
	cursor:pointer;
}
.bordered td .FY_a_noActive{color: black;cursor:default;}
.bordered td{
	/*background-color: white;*/
}
.button {
	/* background: url("../images/orderImg/order_btn.png"); */
	background-color: #F5F5F5;
	width: 86px;
	height: 28px;
	border-color: #D8D8D8;
	border-width: 1px;
	font-size: 16px;
	color: #666666;
	cursor:pointer;
	margin: 0px 0px 0px 10px;
	border-radius: 5px;
	float: right;
	
}
.button:hover {
	
}
.button:active {
}
.navigation{
	margin: 0 auto;
	height:40px;
	padding: 5px 30px 5px 0px;
	color: #848484;
	border-bottom: 1px #848484 dashed;
	white-space:nowrap;
}
.navigation div{float:left; display:inline;line-height: 30px;}
.navigation .date{margin: 5px 5px 0px 5px;}
.navigation .date .date-time{width: 110px;}

.orderStat-navigationBar{
	margin: 0 auto;
	height:60px;
	padding: 0px 0px 5px 30px;
	color: #848484;
	border-bottom: 1px #848484 dashed;
	white-space:nowrap;
}
.orderStat-navigationBar div{float:left;}
.orderStat-navigationBar .stat-bar1,.orderStat-navigationBar .stat-bar2{float:left; display:inline;line-height: 30px;width: 100%;}
.orderStat-navigationBar .date{margin: 5px 5px 0px 5px;}
.orderStat-navigationBar .date .date-time{width: 110px;}
.orderStat-navigationBar .stat-bar2{}
.orderStat-navigationBar .order-condition span{margin: 0px 10px 0px 10px;}

.nowposition {
	/* background: url("../images/orderImg/nowposition.png") no-repeat;
	background-size:1400px 40px; */
	background-color: #F5F5F5;
	font-size: 14px;
	line-height: 40px;
	padding: 0px 0px 0px 30px;
	color: #157FCC;
}

.scant_a{
	color: blue;
	cursor:pointer;
}

.alert-emp-show,.alert-brand-show, .alert-brand-show, .alert-cusNames-show { 
	margin: 0px auto;
	max-height: 500px;
	overflow: auto;
	/* background: #EE8704; */
	padding: 20px 20px 20px 20px;
	font: 12px Arial, Helvetica, sans-serif;
	color: #666;
}


.alert-emp-show span, .alert-brand-show span, .alert-cusNames-show span { white-space: nowrap;background: #FBF1E5;margin: 5px 5px 5px 5px;padding: 5px 5px 5px 5px;display: inline-block;cursor:pointer;border-radius: 5px;}

.alert-emp-show .alert-emp-selspan,.alert-brand-show .alert-brand-selspan,.alert-cusNames-show .alert-cusNames-selspan{background: #FAB957 url("../images/s-dagou.jpg") no-repeat center ; }







	


