<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.server.dao.mapper.CompanyMapper" >
  <resultMap id="BaseResultMap" type="com.server.pojo.entity.Company" >
    <id column="COMPANYID" property="companyid" jdbcType="VARCHAR" />
    <result column="COMPANYCODE" property="companycode" jdbcType="VARCHAR" />
    <result column="USERNAME" property="username" jdbcType="VARCHAR" />
    <result column="COMPANYPHONE" property="companyphone" jdbcType="VARCHAR" />
    <result column="COMPANYSHOP" property="companyshop" jdbcType="VARCHAR" />
    <result column="COMPANYCITY" property="companycity" jdbcType="VARCHAR" />
    <result column="COMPANYADDRESS" property="companyaddress" jdbcType="VARCHAR" />
    <result column="COMPANYDETAIL" property="companydetail" jdbcType="VARCHAR" />
    <result column="COMPANYSTATUE" property="companystatue" jdbcType="VARCHAR" />
    <result column="LOGINNAME" property="loginname" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="CREATETIME" property="createtime" jdbcType="VARCHAR" />
    <result column="UPDTIME" property="updtime" jdbcType="VARCHAR" />
    <!-- 关联城市 -->
    <association property="city" javaType="com.server.pojo.entity.City">
    	<id column="CITYID" property="cityid" jdbcType="VARCHAR" />
	    <result column="CITYCODE" property="citycode" jdbcType="VARCHAR" />
	    <result column="CITYNAME" property="cityname" jdbcType="VARCHAR" />
	    <result column="CITYPARENT" property="cityparent" jdbcType="VARCHAR" />
	    <result column="CITYDETAIL" property="citydetail" jdbcType="VARCHAR" />
	    <result column="CITYSTATUE" property="citystatue" jdbcType="VARCHAR" />
    </association>
    <!-- 关联商品 -->
    <collection property="goodsList" ofType="com.server.pojo.entity.Goods">
    	<id column="GOODSID" property="goodsid" jdbcType="VARCHAR" />
	    <result column="GOODSCOMPANY" property="goodscompany" jdbcType="VARCHAR" />
	    <result column="GOODSCODE" property="goodscode" jdbcType="VARCHAR" />
	    <result column="GOODSNAME" property="goodsname" jdbcType="VARCHAR" />
	    <result column="GOODSDETAIL" property="goodsdetail" jdbcType="VARCHAR" />
	    <result column="GOODSUNITS" property="goodsunits" jdbcType="VARCHAR" />
	    <result column="GOODSCLASS" property="goodsclass" jdbcType="VARCHAR" />
	    <result column="GOODSIMAGE" property="goodsimage" jdbcType="VARCHAR" />
	    <result column="GOODSSTATUE" property="goodsstatue" jdbcType="VARCHAR" />
	    <result column="CREATETIME" property="createtime" jdbcType="VARCHAR" />
	    <result column="UPDTIME" property="updtime" jdbcType="VARCHAR" />
	    <result column="CREATOR" property="creator" jdbcType="VARCHAR" />
	    <result column="UPDOR" property="updor" jdbcType="VARCHAR" />
	    
	    <!-- 关联价格 -->
	    <collection property="pricesList" ofType="com.server.pojo.entity.Prices">
	    	<id column="PRICESID" property="pricesid" jdbcType="VARCHAR" />
		    <result column="PRICESGOODS" property="pricesgoods" jdbcType="VARCHAR" />
		    <result column="PRICESCLASS" property="pricesclass" jdbcType="VARCHAR" />
		    <result column="PRICESLEVEL" property="priceslevel" jdbcType="DECIMAL" />
		    <result column="PRICESPRICE" property="pricesprice" jdbcType="FLOAT" />
		    <result column="PRICESUNIT" property="pricesunit" jdbcType="VARCHAR" />
		    <result column="PRICESPRICE2" property="pricesprice2" jdbcType="FLOAT" />
		    <result column="PRICESUNIT2" property="pricesunit2" jdbcType="VARCHAR" />
		    <result column="CREATETIME" property="createtime" jdbcType="VARCHAR" />
		    <result column="UPDTIME" property="updtime" jdbcType="VARCHAR" />
		    <result column="CREATOR" property="creator" jdbcType="VARCHAR" />
		    <result column="UPDOR" property="updor" jdbcType="VARCHAR" />
		 </collection>
    </collection>
    <!-- 关联秒杀品 -->
    <collection property="timegoodsList" ofType="com.server.pojo.entity.Timegoods">
    	<id column="TIMEGOODSID" property="timegoodsid" jdbcType="VARCHAR" />
	    <result column="TIMEGOODSCOMPANY" property="timegoodscompany" jdbcType="VARCHAR" />
	    <result column="TIMEGOODSCODE" property="timegoodscode" jdbcType="VARCHAR" />
	    <result column="TIMEGOODSNAME" property="timegoodsname" jdbcType="VARCHAR" />
	    <result column="TIMEGOODSDETAIL" property="timegoodsdetail" jdbcType="VARCHAR" />
	    <result column="TIMEGOODSUNITS" property="timegoodsunits" jdbcType="VARCHAR" />
	    <result column="TIMEGOODSUNIT" property="timegoodsunit" jdbcType="VARCHAR" />
	    <result column="TIMEGOODSPRICE" property="timegoodsprice" jdbcType="FLOAT" />
	    <result column="TIMEGOODSORGPRICE" property="timegoodsorgprice" jdbcType="FLOAT" />
	    <result column="TIMEGOODSNUM" property="timegoodsnum" jdbcType="DECIMAL" />
	    <result column="TIMEGOODSCLASS" property="timegoodsclass" jdbcType="VARCHAR" />
	    <result column="TIMEGOODSIMAGE" property="timegoodsimage" jdbcType="VARCHAR" />
	    <result column="TIMEGOODSSTATUE" property="timegoodsstatue" jdbcType="VARCHAR" />
	    <result column="CREATETIME" property="createtime" jdbcType="VARCHAR" />
	    <result column="CREATOR" property="creator" jdbcType="VARCHAR" />
	    <result column="ALLNUM" property="allnum" jdbcType="DECIMAL" />
    	<result column="SURPLUSNUM" property="surplusnum" jdbcType="DECIMAL" />
    	<result column="TIMEGOODSSCOPE" property="timegoodsscope" jdbcType="VARCHAR" />
    </collection>
  </resultMap>
  <sql id="Base_Column_List" >
    COMPANYID, COMPANYCODE, USERNAME, COMPANYPHONE, COMPANYSHOP, COMPANYCITY, COMPANYADDRESS, 
    COMPANYDETAIL, COMPANYSTATUE, LOGINNAME, PASSWORD, CREATETIME, UPDTIME
  </sql>
  <!-- 根据 '地区' 查询该地区的 '经销商' 和该经销商的 '秒杀商品' -->
  <select id="selectCompanyByCondition" resultMap="BaseResultMap" parameterType="com.server.pojo.entity.Company" >
    select
	  company.companyid,
	  company.companyshop,       <!--  /*经销商店铺*/ -->
	  company.username,         <!--  /*经销商姓名*/ -->
	  company.companyphone,     <!--  /*手机*/ -->
	  company.companydetail,
	  city.cityname,            <!--  /*区*/ -->
	  city.cityparent,          <!--  /*城市*/ -->
	  timegoods.*
	from 
	  company
	  left outer join city
	  on company.companycity = city.cityid 
	  left outer join timegoods
	  on timegoods.timegoodscompany = company.companyid
	  where timegoods.timegoodsstatue = '启用'
  	<if test="city != null">
  		<if test="city.cityname != null and city.cityname != ''">
  			and city.cityname = #{city.cityname}
  		</if>
  	</if>
  	<if test="timegoodsList != null">
  		<if test="timegoodsList[0].timegoodscode != null and timegoodsList[0].timegoodscode != ''">
  			and timegoods.timegoodscode = #{timegoodsList[0].timegoodscode}
  		</if>
  		<if test="timegoodsList[0].timegoodsscope != null and timegoodsList[0].timegoodsscope != ''">
  			and timegoods.timegoodsscope like '%${timegoodsList[0].timegoodsscope}%'
  		</if>
  	</if>
  	order by timegoods.timegoodsseq
  </select>
  <!-- 登录 -->
  <select id="selectLogin" resultMap="BaseResultMap" parameterType="com.server.pojo.entity.Company" >
    select 
    COMPANYID,COMPANYSHOP,USERNAME,COMPANYPHONE
    from COMPANY
    where loginname = #{loginname} and password = #{password}
  </select>
  <!-- 根据主键查询 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from COMPANY
    where COMPANYID = #{companyid,jdbcType=VARCHAR}
  </select>
  <!-- 根据主键删除 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from COMPANY
    where COMPANYID = #{companyid,jdbcType=VARCHAR}
  </delete>
  <!-- 选择性添加 -->
  <insert id="insertSelective" parameterType="com.server.pojo.entity.Company" >
    insert into COMPANY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="companyid != null" >
        COMPANYID,
      </if>
      <if test="companycode != null" >
        COMPANYCODE,
      </if>
      <if test="username != null" >
        USERNAME,
      </if>
      <if test="companyphone != null" >
        COMPANYPHONE,
      </if>
      <if test="companyshop != null" >
        COMPANYSHOP,
      </if>
      <if test="companycity != null" >
        COMPANYCITY,
      </if>
      <if test="companyaddress != null" >
        COMPANYADDRESS,
      </if>
      <if test="companydetail != null" >
        COMPANYDETAIL,
      </if>
      <if test="companystatue != null" >
        COMPANYSTATUE,
      </if>
      <if test="loginname != null" >
        LOGINNAME,
      </if>
      <if test="password != null" >
        PASSWORD,
      </if>
      <if test="createtime != null" >
        CREATETIME,
      </if>
      <if test="updtime != null" >
        UPDTIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="companyid != null" >
        #{companyid,jdbcType=VARCHAR},
      </if>
      <if test="companycode != null" >
        #{companycode,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="companyphone != null" >
        #{companyphone,jdbcType=VARCHAR},
      </if>
      <if test="companyshop != null" >
        #{companyshop,jdbcType=VARCHAR},
      </if>
      <if test="companycity != null" >
        #{companycity,jdbcType=VARCHAR},
      </if>
      <if test="companyaddress != null" >
        #{companyaddress,jdbcType=VARCHAR},
      </if>
      <if test="companydetail != null" >
        #{companydetail,jdbcType=VARCHAR},
      </if>
      <if test="companystatue != null" >
        #{companystatue,jdbcType=VARCHAR},
      </if>
      <if test="loginname != null" >
        #{loginname,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="updtime != null" >
        #{updtime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <!-- 根据主键选择性修改 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.server.pojo.entity.Company" >
    update COMPANY
    <set >
      <if test="companycode != null" >
        COMPANYCODE = #{companycode,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        USERNAME = #{username,jdbcType=VARCHAR},
      </if>
      <if test="companyphone != null" >
        COMPANYPHONE = #{companyphone,jdbcType=VARCHAR},
      </if>
      <if test="companyshop != null" >
        COMPANYSHOP = #{companyshop,jdbcType=VARCHAR},
      </if>
      <if test="companycity != null" >
        COMPANYCITY = #{companycity,jdbcType=VARCHAR},
      </if>
      <if test="companyaddress != null" >
        COMPANYADDRESS = #{companyaddress,jdbcType=VARCHAR},
      </if>
      <if test="companydetail != null" >
        COMPANYDETAIL = #{companydetail,jdbcType=VARCHAR},
      </if>
      <if test="companystatue != null" >
        COMPANYSTATUE = #{companystatue,jdbcType=VARCHAR},
      </if>
      <if test="loginname != null" >
        LOGINNAME = #{loginname,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        CREATETIME = #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="updtime != null" >
        UPDTIME = #{updtime,jdbcType=VARCHAR},
      </if>
    </set>
    where COMPANYID = #{companyid,jdbcType=VARCHAR}
  </update>
</mapper>