<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.server.dao.mapper.FeedbackMapper" >
  <resultMap id="BaseResultMap" type="com.server.pojo.entity.Feedback" >
    <id column="FEEDBACKID" property="feedbackid" jdbcType="VARCHAR" />
    <result column="FEEDBACKDETAIL" property="feedbackdetail" jdbcType="VARCHAR" />
    <result column="FEEDBACKCUSTOMER" property="feedbackcustomer" jdbcType="VARCHAR" />
    <result column="FEEDBACKTIME" property="feedbacktime" jdbcType="VARCHAR" />
    <result column="FEEDBACKSTATE" property="feedbackstate" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    FEEDBACKID, FEEDBACKDETAIL, FEEDBACKCUSTOMER, FEEDBACKTIME, FEEDBACKSTATE
  </sql>
  <!-- 根据主键查询 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from FEEDBACK
    where FEEDBACKID = #{feedbackid,jdbcType=VARCHAR}
  </select>
  <!-- 根据主键删除 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from FEEDBACK
    where FEEDBACKID = #{feedbackid,jdbcType=VARCHAR}
  </delete>
  <!-- 选择性添加 -->
  <insert id="insertSelective" parameterType="com.server.pojo.entity.Feedback" >
    insert into FEEDBACK
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="feedbackid != null" >
        FEEDBACKID,
      </if>
      <if test="feedbackdetail != null" >
        FEEDBACKDETAIL,
      </if>
      <if test="feedbackcustomer != null" >
        FEEDBACKCUSTOMER,
      </if>
      <if test="feedbacktime != null" >
        FEEDBACKTIME,
      </if>
      <if test="feedbackstate != null" >
        FEEDBACKSTATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="feedbackid != null" >
        #{feedbackid,jdbcType=VARCHAR},
      </if>
      <if test="feedbackdetail != null" >
        #{feedbackdetail,jdbcType=VARCHAR},
      </if>
      <if test="feedbackcustomer != null" >
        #{feedbackcustomer,jdbcType=VARCHAR},
      </if>
      <if test="feedbacktime != null" >
        #{feedbacktime,jdbcType=VARCHAR},
      </if>
      <if test="feedbackstate != null" >
        #{feedbackstate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <!-- 根据主键选择性修改 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.server.pojo.entity.Feedback" >
    update FEEDBACK
    <set >
      <if test="feedbackdetail != null" >
        FEEDBACKDETAIL = #{feedbackdetail,jdbcType=VARCHAR},
      </if>
      <if test="feedbackcustomer != null" >
        FEEDBACKCUSTOMER = #{feedbackcustomer,jdbcType=VARCHAR},
      </if>
      <if test="feedbacktime != null" >
        FEEDBACKTIME = #{feedbacktime,jdbcType=VARCHAR},
      </if>
      <if test="feedbackstate != null" >
        FEEDBACKSTATE = #{feedbackstate,jdbcType=VARCHAR},
      </if>
    </set>
    where FEEDBACKID = #{feedbackid,jdbcType=VARCHAR}
  </update>
</mapper>