<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.java.mapper.UserMapper">

	<!-- id：就是sql片段的唯一标识 -->
	<sql id="select_customer_sql">
		<if test="userCustomer != null">
			<if test="userCustomer.username != null and userCustomer.username != ''">
				and username LIKE '%${userCustomer.username}%'
			</if>
			<if test="userCustomer.sex != null and userCustomer.sex != ''">
				and sex=#{userCustomer.sex}
			</if>
		</if>
	</sql>


	<select id="findUserById" parameterType="int" resultType="org.java.pojo.User">
		SELECT * FROM USER WHERE id=#{id}
	</select>
	
	<select id="findUserByName" parameterType="java.lang.String" resultType="org.java.pojo.User">
		SELECT * FROM USER WHERE username LIKE '%${value}%'
	</select>
	
	<insert id="addUser" parameterType="org.java.pojo.User">
		INSERT INTO USER(username,birthday,sex,address) VALUES(#{username},#{birthday},#{sex},#{address})
	</insert>
	
	<delete id="deleteUser" parameterType="java.lang.Integer">
		DELETE FROM USER WHERE id=#{id}
	</delete>
	
	<update id="updateUser" parameterType="org.java.pojo.User">
		UPDATE USER SET username=#{username},birthday=#{birthday},sex=#{sex},address=#{address} WHERE id=#{id}
	</update>
	
	<!-- 
	多条件查询
	因为我们是把查询的条件全部放在vo中,所以参数类型就是vo，
	返回的结果也是原始的pojo的包装
	是ognl表达式
	
	org.java.pojo.UserCustomerVo:输入参数将它封装成vo
	org.java.pojo.UserCustomer:返回值类型封装成customer
	 -->
	<select id="selectList" parameterType="org.java.pojo.UserCustomerVo" resultType="org.java.pojo.UserCustomer">
		SELECT * FROM USER 
		<where>
			<include refid="select_customer_sql"></include>
		</where>
	</select>
	
	<!-- 信息总条数 -->
	
	<select id="selectCount" parameterType="org.java.pojo.UserCustomerVo" resultType="int">
		SELECT count(*) FROM USER 
		<where>
			<include refid="select_customer_sql"></include>
		</where>
	</select>
</mapper>