@charset "utf-8";
/*通用样式*/
@font-face { font-family: "Ionicons"; src: url("../fonts/ionicons.eot?v=2.0.0"); src: url("../fonts/ionicons.eot?v=2.0.0#iefix") format("embedded-opentype"), url("../fonts/ionicons.ttf?v=2.0.0") format("truetype"), url("../fonts/ionicons.woff?v=2.0.0") format("woff"), url("../fonts/ionicons.svg?v=2.0.0#Ionicons") format("svg"); font-weight: normal; font-style: normal; }
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {margin:0;padding:0;border:0;outline:0;list-style-type:none}
div,ul{overflow:hidden}
a, a:hover, a:focus,input:focus,button:focus,select:focus {outline:0;text-decoration:none; color:#333}
select,input,button,textarea{font-size:100%;font-style:normal;font-weight:400;vertical-align:middle;-webkit-border-radius:0;-webkit-appearance: none;}
img{max-width:100%}
.fn{float:none !important}
.fl{float:left !important}
.fr{float:right !important}
.block{display:block}
.pos-r{position:relative}
.pos-a{position:absolute}
.grey-bc{background-color:#f5f5f5}
.pdl-b8{ padding-left:8%}
