body { background-color: #f2f2f2; font-family: Helvetica }
body, html { height: 100% }
.font-grey { color: #999 }
.font-oringe { color: #eb3c07 }
.gl-box, .wrapper { width: 100%; overflow: hidden }
.ion-home:before { content: "\f144" }
.ion-android-person:before { content: "\f3a0" }
.ion-bag:before { content: "\f110" }
.ion-clipboard:before { content: "\f127" }
.ion-home:before, .ion-android-person:before, .ion-bag:before, .ion-clipboard:before,.login-bg .login-content li i:before,.reg-dianpu-info li i:after,.order-detail-user .info-icon:before,.cart-wrapper li .jia:before, .goods-wrapper .home-hot-commodity li .jia:before,.cart-wrapper li .jian:before,.goods-wrapper .home-hot-commodity li .jian:before,.reg-wrapper li i:after  { font-family: "Ionicons"; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; text-rendering: auto; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale }
/*login*/
.login-bg{height:100%; background:url(../images/loginbg.jpg) center no-repeat; background-size: cover}
.login-bg .logo{ text-align:center; padding-top:20%}
.login-bg .logo img{ margin:auto; width:32%}
.login-bg .login-content{ margin-top:15%}
.login-bg .login-content li{ width:90%; margin:4% auto; overflow:hidden; padding:2% 0; border-bottom:solid 1px #ccc}
.login-bg .login-content li .user:before{content:"\f3a0"; width:12px; float:left; font-size:1.4em; margin-right:4%; color:#fff}
.login-bg .login-content li .pass:before{content:"\f392"; width:12px; float:left; font-size:1.4em; margin-right:4%; color:#fff}
.login-bg .login-content li input{ border:none; background:none; color:#fff}
.login-bg .login-content li .login-btn{ margin-top:6%; border-radius:5px; background-color:#2c77e6; text-align:center; color:#fff; display:block; padding:4% 0}
.login-bg .login-content li.nobd{ border:none}
.login-bg .login-content li.goreg{ border:none; text-align:right}
.login-bg .login-content li.goreg a{ color:#fff; font-size:.8em; text-decoration:underline}
.login-bg .login-content ::-webkit-input-placeholder { 
color:#fff !important; 
}
/*reg*/
.reg-wrapper{ background-color:#fff; border-bottom:solid 1px #ddd; border-top:solid 1px #ddd; margin-bottom:4%}
.reg-wrapper li{ border-bottom:solid 1px #ddd; margin-left:4%; padding:4% 0; overflow:hidden}
.reg-wrapper li:last-child{ border:none}
.reg-wrapper li input,.reg-wrapper li select{ width:69%; height:30px; background:none; line-height:30px; border:none; text-align:right}
.reg-wrapper li select{ height:31px; line-height:31px;direction:rtl}
.reg-dianpu-info li i:after{content: "\f3d3"; font-size:1.2em;height:31px; line-height:31px;  float:right; margin-right:2%; color:#999}
.reg-wrapper li span{ width:25%; height:25px; line-height:25px; float:left; padding:1% 0}
.reg-title{ font-size:1.2em; padding:4% 0; font-weight:normal; color:#666; padding-left:4%}
.confirm-reg{ padding:4% 0; text-align:center}
.confirm-reg a{ text-decoration:underline; font-size:.8em}
.confirm-reg .confirm-reg-btn{ border-radius:5px; background-color:#2c77e6; font-size:1em; color:#fff; display:block; text-decoration:none; padding:4% 0; width:90%; margin:0 auto 2%}
/*地址管理*/
.add-admin { position: relative }
.add-admin a { position: relative; margin-bottom: 4%; font-size: .8em; color: #666; background-color: #fff; display: block; padding: 4% }
.add-admin a:last-child { margin-bottom: 24% }
.add-admin a span { font-size: 1.2em; color: #333 }
.add-admin a span:nth-child(2) { float: right; margin-right: 16% }
.add-address { width: 100%; background-color: #f2f2f2; padding: 4% 0; position: fixed; bottom: 0 }
.add-address a { width: 70%; display: block; margin: 0 auto; padding: 4% 0; background-color: #f85524; text-align: center; color: #fff; font-size: 1.2em }
/*美化*/

.sign { display: block; position: relative; margin-right: 4%; height: 18px }
.sign:after, .sign:before { border: 8px solid transparent; border-left: 8px solid #fff; width: 0; height: 0; position: absolute; top: 0; right: -20px; content: '' }
.sign:before { border-left-color: #666; right: -21px }
/*个人中心*/
.personal-center { background-color: #fff; margin-top: 4%; border-bottom: solid 1px #eee; border-top: solid 1px #e8e8e8;border-bottom: solid 1px #e8e8e8 }
.personal-center:last-child { margin-bottom: 28% }
.personal-center a { position: relative; background-color: #fff; display: block; margin-left: 4%; padding: 4% 0; border-bottom:solid 1px #eee }
.personal-center a:last-child{ border: none }
.personal-center .sign { height: 14px; float: right; margin-right: 8%; display: inline-block }
.personal-center-nav { width: 100%; position: fixed; bottom: 0; padding: 1% 0; background-color: #f9f9f9 }
.personal-center-nav li { float: left; width: 25%; text-align: center }
.personal-center-nav li a { width: 40%; margin: auto; display: block; font-size: .6em }
.personal-center-nav li em { display: block; width: 68%; margin: auto; height: 26px; font-size: 2.4em }
.personal-center-nav .active a { color: #2c77e6 }
/*.personal-center-nav li.active .nav-home:before{ content:'\f3a0'; font-size:20px }
.personal-center-nav li .nav-shopping{background-position:-22px 0}
.personal-center-nav li.active .nav-shopping{background-position:center 73%}
.personal-center-nav li .nav-order{background-position:center 29%}
.personal-center-nav li.active .nav-order{background-position:center 87%}
.personal-center-nav li .nav-i{background-position:center 43.5%}
.personal-center-nav li.active .nav-i{background-position:center 101%}
.personal-center-nav .nav-shopping{background-position:13.5% -10% }
.personal-center-nav .nav-order{background-position:28.8% -10% }
.personal-center-nav .nav-i{background-position:42.9% -5% }
.personal-center-nav li .nav-home:hover,.personal-center-nav li.active .nav-home{background-position:58% 0}
.personal-center-nav li .nav-shopping:hover{background-position:72.5% -10%}
.personal-center-nav li .nav-order:hover{background-position:87.3% -10%}
.personal-center-nav li .nav-i:hover{background-position:102% -5%}*/
/*首页*/
.home-hot-wrap { background-color: #fff; overflow: hidden }
.home-search-wrapper { background-color: #2c77e6; padding: 10px 4%; height: 30px }
.home-search-wrapper .citydrop { float: left; width: 22%; height: 30px; line-height: 30px; font-size: 1em; color: #fff; text-align: center }
.home-search-wrapper .citydrop em { float: right }
.home-search-wrapper input { float: left; height: 30px; border-radius: 5px; font-size: .8em; border: none; padding: 0 4% 0 9%; width: 51%; margin-left: 3%; background: url(../images/searchbg.png) #fff no-repeat left; background-size: 8%; background-position: 6px 7px }
.home-search-wrapper .gwc { width: 7%; position:relative; float: right; height: 26px; padding-top: 4px; display: inline-block; text-align: right }
.home-search-wrapper .gwc em{ position:absolute; right:-50%; top:-20%; width:18px; height:18px; line-height:20px; text-align:center;  border-radius:50px; background-color:#F00; color:#fff; font-size:.8em; font-style:normal; border:red solid 1px}
.home-search-wrapper a img { width: 100%; margin-top: 3px }
.home-hot-wrap .home-hot { width: 100%; padding: 5% 0 5% 18%; background: url(../images/hot.png) no-repeat left; background-size: 8%; background-position: 4% 6px; border-bottom: solid 1px #eee }
.home-hot-wrap .home-hot-commodity li { overflow: hidden; margin-left: 4%; position:relative; border-bottom:solid 1px #eee }
.home-hot-wrap .home-hot-commodity li a, .goods-wrapper .home-hot-commodity li a { display: block; padding: 4% 4% 4% 0; position: relative; overflow: hidden }
.home-hot-wrap .home-hot-commodity li a h1, .goods-wrapper .home-hot-commodity li h1 { font-size: 1em; font-weight: normal; margin: 4% 0 }
.home-hot-wrap .home-hot-commodity li a .fl img, .goods-wrapper .home-hot-commodity li .fl img { width: 90px; height: 90px }
.home-hot-wrap .home-hot-commodity li a span, .goods-wrapper .home-hot-commodity li span { color: #666; font-size: .6em }
.home-hot-wrap .home-hot-commodity li a span.fl, .goods-wrapper .home-hot-commodity li span.fl { margin-right: 2%; margin-top: 4% }
.home-hot-wrap .home-hot-commodity li a span.fl { margin-top: 0 }
.home-hot-wrap .home-hot-commodity li a span strong, .goods-wrapper .home-hot-commodity li span strong { font-size: 1.6em; color: #f64320 }
.home-hot-wrap .home-hot-commodity li a span em, .goods-wrapper .home-hot-commodity li span em { font-style: normal; margin: 0 4px; text-decoration: line-through; font-size: 1.2em }
.home-hot-wrap .home-hot-commodity li a span font { color: #333; font-size: 1.2em }
.home-hot-wrap .home-hot-commodity li:last-child, .goods-wrapper .home-hot-commodity li:last-child { margin-bottom: 24% }
.home-city-drop li { height: auto; border-bottom: solid 1px #eee; padding-left: 4%; background-color: #fff; overflow: hidden }
.home-city-drop li a { width: 100%; display: block; height: auto; text-align: left; color: #2c77e6; font-size: 1em; margin: 0; border: none; padding: 3% 0 3% 0 }
/*下拉样式*/
.home-search-wrapper .citydrop img { width: 12px; height: 8px; margin-bottom: 1px; transform: rotate(0deg); -ms-transform: rotate(0deg); -moz-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -webkit-transition: all .3s linear; -ms-transition: all .3s linear; -moz-transition: all .3s linear; -o-transition: all .3s linear; transition: all .3s linear }
.home-search-wrapper .citydrop.on img { transform: rotate(180deg); -ms-transform: rotate(180deg); -moz-transform: rotate(180deg); -webkit-transform: rotate(180deg); -o-transform: rotate(180deg); -webkit-transition: all .3s linear; -ms-transition: all .3s linear; -moz-transition: all .3s linear; -o-transition: all .3s linear; transition: all .3s linear }
.menu { background-color: #f3f3f3; width: 100%; position: absolute; left: 0; top: 50px; right: 0; z-index: 9999; height: 0; -webkit-transition: all .3s linear; -ms-transition: all .3s linear; -moz-transition: all .3s linear; -o-transition: all .3s linear; transition: all .3s linear; display: none }
.menu .menu-tags { width: 100%; height: 100%; overflow: hidden }
.host-city { width: 100%; background-color: #fff; color: #666 }
.host-city .quyu { padding: 4%; border-bottom: solid 1px #eee; margin: 2% 0 0 }
.quyu .fr { font-size: .8em; color: #999 }
/*我的收藏*/
.wapper-nav { position: relative; background-color: #2c77e6; height: 30px; line-height: 30px; padding: 10px 0; color: #fff; text-align: center }
.wapper-nav a { position: absolute; right: 4%; top: 20%; color: #fff }
.shoucang-wrap { background-color: #fff; overflow: hidden }
.shoucang-wrap li { overflow: hidden }
.shoucang-wrap li:last-child a { border: none }
.shoucang-wrap li a { display: block; padding: 4% 0; border-bottom: solid 1px #eee; margin-left: 4% }
.shoucang-wrap li a span img { width: 90px; height: 90px }
.shoucang-wrap li a span.fl { margin-right: 2% }
.shoucang-wrap li a h1 { font-size: 1.2em; font-weight: normal; margin: 2% 0 2% }
.shoucang-wrap li a h1 span { font-size: .6em }
.shoucang-wrap li a p { margin-top: 2% }
.shoucang-wrap li a p font { color: #f64320 }
/*结算*/
.jiesuan .shouhuo-wrap { background: url(../images/shouhuobg.png) #f9f4e9 bottom repeat-x }
.jiesuan .shouhuo-wrap a { display: block; width: 87%; padding: 4% 5% 6% 2%; margin: auto; background: url(../images/abg.png) no-repeat right; background-size: 3% }
.jiesuan .shouhuo-wrap a span { overflow: hidden; display: inline-block }
.jiesuan .shouhuo-wrap a .add { display: block; color: #999; margin-top: 3% }
.jiesuan .jiesuan-info { position: relative; margin-top: 4%; background-color: #fff }
.jiesuan .jiesuan-info h1 { position: relative; font-size: 1.2em; font-weight: normal; padding: 2%; border-bottom:solid 1px #eee }
.jiesuan .jiesuan-info li { position: relative; margin-left: 4%; padding: 2% 0; line-height: 2em;border-bottom:solid 1px #eee }
.jiesuan .jiesuan-info li:last-child { border: none }
.jiesuan-submit { position: fixed; bottom: 0; width: 100%; height: 40px; line-height: 40px; background-color: #fff; color: #ccc; font-size: 1.2em }
.jiesuan-submit span { float: left; width: 75%; text-align: center; color: #666 }
.jiesuan-submit a { float: right; width: 25%; text-align: center; background-color: #eb3c07; color: #fff }
.jiesuan .jiesuan-info .payment { padding: 8% 0; margin-left: 4% }
.jiesuan .jiesuan-info:last-child { margin-bottom: 10% }
.cd-popup-container{ background-color:#fff; text-align:center}
.cd-popup-container h1{ border-bottom:solid 1px #ddd; font-size:1em; font-weight:normal; padding:4% 0; background-color:#eee}
.cd-popup-container a{ display:inline-block; width:49.7%; background-color:#eee; padding:4% 0; border-top:solid 1px #ddd}
.cd-popup-container .cd-popup-close{ border-right:solid 1px #ddd}
.cd-popup-container p{ padding:10% 0}
/*radio*/
.regular-radio { display: none }
.regular-radio + label { margin-left: 4%; -webkit-appearance: none; background-color: #fff; border: 1px solid #ccc; color: #999; box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05); padding: 5px 20px 5px 22px; border-radius: 5px; display: inline-block; position: relative }
.regular-radio:checked + label:after { content: '\2713'; width: 20px; height: 20px; line-height: 20px; position: absolute; top: 50%; left: 5%; margin-top: -10px; text-align: center; color: #eb3c07 }
.regular-radio:checked + label { border: 1px solid #eb3c07 }
.regular-radio + label:active, .regular-radio:checked + label:active { box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1) }
/*全部订单*/
.add-admin .all-order-wrapper { background-color: #fff; position: relative; margin-top: 4% }
.add-admin:last-child .all-order-wrapper:last-child { margin-bottom: 16% }
.add-admin .all-order-wrapper h1 { font-size: 1.2em; padding: 2% 0; font-weight: normal; margin-left: 4%; position: relative; border-bottom:solid 1px #eee }
.add-admin .all-order-wrapper h1:before { border-top: none; border-bottom: solid 1px #eee }
.add-admin .all-order-wrapper h1 span { float: right; margin-right: 4%; color: #999; font-size: .8em; line-height: 1.6em }
.add-admin .all-order-wrapper a:before { border-top: none }
.add-admin .all-order-wrapper a span { display: block; margin: 0; float: none; line-height: 2em }
.add-admin .all-order-wrapper .gopay { display: block; padding: 2% 4%; text-align: right; position: relative; border-top:solid 1px #eee }
.add-admin .all-order-wrapper .gopay a { float: right; border: none; border-radius: 5px; background-color: #eb3c07; color: #fff; padding: 2% 6%; margin: 2% 0 0 }
.add-admin .all-order-wrapper .gopay a:before { border: none }
.add-admin .all-order-wrapper a .sign { position: absolute; top: 44%; right: 10% }
.add-admin .gopay span font { margin-right: 6% }
.add-admin .all-order-wrapper a, .add-admin .gopay span font:last-child { margin: 0 }
/*购物车*/
.cart-wrapper, .goods-wrapper { background-color: #fff; margin-bottom: 4% }
.cart-wrapper .songda { width: 100%; padding: 0 2%; margin: 2% 0 2% 4%; border-left: solid 2px #f64320; color: #999; background-color: #fff; font-size: .6em }
.cart-wrapper:last-child { margin-bottom: 18% }
.cart-wrapper h1 { position: relative; padding: 2% 0 2% 4%; font-size: 1em; font-weight: normal; border-bottom:solid 1px #eee }
.cart-wrapper li, .goods-wrapper .home-hot-commodity li { position: relative; overflow: hidden; margin-left: 4%; padding: 2% 0; border-bottom:solid 1px #eee }
.cart-wrapper li em { float: left; width: 25%; margin-right: 4% }
.cart-wrapper li h2 { font-size: 1em; font-weight: normal; padding: 4% 5% 4% 0 }
.cart-wrapper li h2 span { float: right; color: #999 }
.cart-wrapper li .spinnerExample { width: 10% }
.cart-wrapper li .jian, .cart-wrapper li .jia, .goods-wrapper .home-hot-commodity li .jia, .goods-wrapper .home-hot-commodity li .jian { position: relative; width: 24px; height: 26px; line-height: 26px; padding: 0 2%; margin: 0; float: left; font-size: 1.4em; border-radius: 5px 0 0 5px; border: solid 1px #ccc; background-color: #f2f2f2; color: #666; text-align: center }
.cart-wrapper li .jia, .goods-wrapper .home-hot-commodity li .jia { border-radius: 0 5px 5px 0 }
.cart-wrapper li .jia:before, .goods-wrapper .home-hot-commodity li .jia:before{content:'\f2c7'; font-size:.8em; line-height:1.2em}
.cart-wrapper li .jian:before,.goods-wrapper .home-hot-commodity li .jian:before{ content:'\f2f4';font-size:.8em;line-height:1.2em}
.cart-wrapper li .shuliang, .goods-wrapper .home-hot-commodity li .shuliang { position: relative; float: left; width: 30px; height: 24px; float: left; margin: 0; border: none; border-top: 1px #ccc solid; border-bottom: solid 1px #ccc; text-align: center; padding: 1px 0; background-color:#fff }
/*商品*/
.goods-wrapper .home-hot-commodity li h1 { margin: 2% 0 }
.stock-num { position: relative; margin: 2% 0; float: left; width: 65% }
.block .regular-radio:checked + label { border: none; font-size: 1.4em }
.block span { display: block }
.block .regular-radio + label { border: none; box-shadow: none; background: url(../images/price-rd-dis.png) no-repeat; top: 60%; left: 0; margin: 0; background-position: 2% 50%; background-size: 10%; font-size: 1.4em }
.payment .regular-radio:checked + label:after { content: '\2713'; background: none }
.payment .regular-radio:checked + label { color: #eb3c07 }
.regular-radio:checked + label:after { content: ''; background: url(../images/price-rd.png) no-repeat; top: 60%; left: 2%; background-size: 75% }
.regular-radio + label:active, .regular-radio:checked + label:active { box-shadow: none }
.chk_1 { display: none }
.chk_1 + label { background-color: #FFF; padding: 8px; margin: 3% 0 0 20%; display: inline-block; position: relative; margin-right: 30px; background: url(../images/scbg.png) no-repeat; background-size: 100% }
.chk_1:checked + label { background: url(../images/scbg-active.png) no-repeat; background-size: 100% }
.chk_1:checked + label:after { content: ''; position: absolute; top: 0px; left: 0px; width: 100%; text-align: center; font-size: 1.4em; padding: 1px 0 0 0; vertical-align: text-top }
.fenlei-tit { width: 100%; padding: 2% 0; background-color: #fff; color: #666; text-align: center }
.menu-tags .wrapper { height: 100% }
.wrapper .fenlei-left { width: 35%; height: 100%; float: left; background-color: #fff }
.wrapper .fenlei-left li a { float: left; display: block; padding: 10% 0; color: #666}
.wrapper .fenlei-right { width: 65%; float: left }
.wrapper .fenlei-right .current,.wrapper .fenlei-right a:active,.wrapper .fenlei-right a:hover{ background-color:#2c77e6; color:#fff}
.wrapper .fenlei-right a { float: left; width: 39%; padding: 6% 0; margin: 4% 0 4% 8%; background-color: #fff; text-align: center; border-radius: 5px }
.home-city-drop .fenlei-left li { margin-left: 4%; padding: 0 }
.home-city-drop .fenlei-left .active a { color: #2c77e6 }
/*筛选*/
.filter-wrapper { overflow: hidden; padding-bottom: 30% }
.filter-wrapper li { margin-left: 4%; overflow: hidden; border-bottom: solid 1px #eee; padding: 4% 0 }
.filter-wrapper li input { width: 28%; text-align: right; padding: 2%; border-radius: 3px; border: solid 1px #ccc; background-color: #f2f2f2 }
.filter-wrapper li .supplier-name { width: 70%; border: none; text-align: right }
.filter-wrapper li span { margin-right: 8% }
.filter-footer { width: 90%; margin: auto; padding: 4% 0 }
.filter-footer a { border-radius: 5px; background-color: #2c77e6; color: #fff; display: inline-block; width: 40%; text-align: center; padding: 4% 0 }
.filter-footer a:last-child { float: right }
/*订单详情*/
.order-detail-info { background-color: #2c77e6; color: #fff; padding: 4%; line-height: 1.8em }
.order-detail-wrapper { border-bottom: solid 1px #ddd; border-top: solid 1px #ddd; background-color: #fff; margin-top: 4%; margin-bottom: 19% }
.order-detail-wrapper li { overflow: hidden; padding: 4% 0; border-bottom: solid 1px #ddd; margin-left: 4% }
.order-detail-wrapper li span:first-child { width: 40%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis }
.order-detail-wrapper li span:nth-child(2) { width: 25%; color: #888 }
.order-detail-wrapper li span:nth-child(3) { width: 10%; color: #888; line-height: 1.2em }
.order-detail-wrapper li span.fr { margin-right: 4%; color: #888 }
.order-detail-wrapper p { text-align: right; padding: 2% }
.order-detail-wrapper p span { float: right; min-width: 22%; color: #f55536 }
.order-detail-wrapper p:first-of-type span { color: #888 }
.order-detail-foot { padding: 2% 0; border-top: solid 1px #ddd }
.order-detail-foot a { display: inline-block; border: solid 1px #ddd; border-radius: 5px; padding: 2% 4%; float: left; margin-left: 4%; color: #999 }
.order-detail-foot a:last-child { float: right; margin-right: 4%; color: #f55536; border: solid 1px #f55536 }
.order-detail-user { position:relative; background-color: #fff; padding: 4%; line-height: 1.8em; border-bottom: solid 1px #ddd; color: #888 }
.order-detail-user .info-icon:before{ content:'\f455'}
.order-detail-user .info-icon{width:6%; height:30px; line-height:30px; font-size:1.8em; position:absolute; top:50%; margin-top:-10px}
/*添加地址*/
.reg-wrapper .set-default { width:4%; height:26px; float:left;-webkit-appearance:checkbox; border:solid 1px #ccc}
.add-address-btn{ position:absolute; bottom:0; width:92%; padding:2% 4%; background-color:#fff}
.add-address-btn a{ display:inline-block; width:20%; border-radius:5px; border-radius:5px; background-color:#2c77e6; color:#fff; text-align:center; padding:2% 0}
.add-address-btn a:last-child{ float:right}
/*意见反馈*/
.view-box textarea{ width:100%; height:150px; padding:4%; border:none; border-bottom:solid 1px #ccc}
.view-box .view-tj{display:block; width:90%; margin:10% auto; border-radius:5px; background-color:#2c77e6; color:#fff; text-align:center; padding:4% 0}
/*空购物车*/
.empty-car p{ text-align:center; margin-top:20%; line-height:2em}
.empty-car .goshop-btn{ display:block; width:50%; margin:10% auto; border-radius:5px; background-color:#2c77e6; color:#fff; text-align:center; padding:4% 0}
/*协议*/
.xieyi-box{ background-color:#fff; padding:4%}
.xieyi-box p{ margin:2% 0}
.xieyi-box .back{ display:block; width:100%; margin:auto; border-radius:5px; text-align:center; padding:2% 0; background-color:#2c77e6; color:#fff}
/*footer*/
.footer { width: 100%; position: fixed; bottom: 0; background-color: #fff; border-top:solid 1px #eee }
.footer .jiesuan-foot-info { position: relative; width: 75%; float: left; text-align: center; font-size: 1em; padding-top: 4% }
.footer .jiesuan-foot-info img { width: 8% }
.footer .jiesuan-foot-info span { margin-right: 5% }
.footer .jiesuan-button { width: 15%; display: inline-block; float: right; padding: 4% 5%; font-size: 1.2em; background-color: #f64320; color: #fff; text-align: center }
@media screen and (min-width:320px) {
.footer .jiesuan-foot-info { font-size: .8em }
.cart-wrapper .songda { font-size: .4em }
.footer .jiesuan-foot-info{ padding-top:6%}
}
@media screen and (min-width:360px) {
.footer .jiesuan-foot-info { font-size: 1.2em }
.add-admin a { font-size: .9em }
.cart-wrapper .songda { font-size: .8em }
.footer .jiesuan-foot-info{ padding-top:4%}
.home-hot-wrap .home-hot-commodity li a h1 span,.goods-wrapper .home-hot-commodity li h1 span{ font-size:.8em}
{ font-size:.8em}
}
@media screen and (min-width:414px) {
.footer .jiesuan-foot-info { font-size: 1.2em }
.home-hot-wrap .home-hot-commodity li a h1,.goods-wrapper .home-hot-commodity li h1{ font-size:1.2em}

}
