.home-search-wrapper .citydrop img {
	width: 12px;
	height: 8px;
	margin-bottom:1px;
	transform: rotate(0deg);
	-ms-transform: rotate(0deg);     /* IE 9 */
	-moz-transform: rotate(0deg);    /* Firefox */
	-webkit-transform: rotate(0deg); /* Safari 和 Chrome */
	-o-transform: rotate(0deg);
	-webkit-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.home-search-wrapper .citydrop.on img {
	transform: rotate(180deg);
	-ms-transform: rotate(180deg);     /* IE 9 */
	-moz-transform: rotate(180deg);    /* Firefox */
	-webkit-transform: rotate(180deg); /* Safari 和 Chrome */
	-o-transform: rotate(180deg);
	-webkit-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.menu {
	background-color: #f3f3f3;
	width: 100%;
	position: absolute;
	left: 0;
	top: 50px;
	right: 0;
	z-index: 9999;
	height: 0;
	-webkit-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
	display: none;
}
.menu .menu-tags {
	width: 100%;
	overflow: hidden;
}




